%h1 Sign In With
%p
  = link_to '/auth/twitter', class: 'btn btn-twitter' do
    %i.icon-twitter
    | Twitter
  = link_to '/auth/github', class: 'btn btn-github' do
    %i.icon-github
    | GitHub
  - unless Rails.env.production?
    = link_to '/auth/developer', class: 'btn btn-link' do
      Developer
