/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

.env
scratch.md
.ruby-version
.ruby-gemset
.rvmrc
.nvmrc

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.vscode
