.row
  %fieldset.col-md-6
    %h2 Speaker Notifications
    %p.help-block These fields control the text that is displayed in notification emails that are sent to speakers.
    - f.object.speaker_notification_emails.each do |type, text|
      .form-group
        = f.label type
        = f.text_area type, class: 'form-control', rows: 20, placeholder: "Please enter some text", value: text
  %fieldset.col-md-6
    .panel.panel-default
      .panel-heading
        .panel-title Email markup
    .panel-body
      %p Paragraphs are separated by two newlines.
      %p
        You can insert the proposal title using:
        %br
        %code ::proposal_title::
      %p
        You can insert the confirmation link* using:
        %br
        %code ::confirmation_link::
      %p
        You can insert the confirmation link with some link text using:
        %br
        %code ::This is my link text|confirmation_link::
      %p.help-block * confirmation link is not available in Reject emails
  %button.pull-right.btn.btn-success{:type => "submit"} Save




