.row
  .col-sm-7
    %h2 Tags
    .form-group
      = f.input :valid_proposal_tags, placeholder: 'Separate multiple tags with commas'
      //= f.text_field :valid_proposal_tags, class: 'form-control'
      %p.help-block This is a comma separated list of tags allowed for use on proposals. These limits apply to publicly displayed tags and not to tags used internally by reviewers.

    .form-group
      = f.input :valid_review_tags, placeholder: 'Separate multiple tags with commas'
      //= f.text_field :valid_review_tags, class: 'form-control'
      %p.help-block This is a comma separated list of tags allowed for use during proposal reviews. These limits apply to tags used internally by reviewers and not to publicly displayed tags.
      =submit_tag("Save Tags", class: "pull-right btn btn-success", type: "submit", disabled: !policy(@event).update?)
