.row
  .col-md-12
    .page-header
      %h1 Create a new event

.row
  .col-md-12
    = form_for event, url: admin_events_path, html: {role: 'form'} do |f|
      = render partial: 'form', locals: {f: f}
