.row
  .col-md-12
    .page-header
      %h1 Create a New Event

.row
  .col-md-12
    %span.required_notification * Required
    = simple_form_for event, url: admin_events_path, html: {role: 'form'} do |f|
      = render partial: 'form', locals: {f: f}
