%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{title: 'Admin Toggle', href: '#', role: 'button', data: {bs_toggle: 'dropdown'}, aria: {expanded: 'false'}}
    Admin
  %ul.dropdown-menu.dropdown-menu-end
    %li
      = link_to admin_users_path, class: "dropdown-item #{'active' if request.path == admin_users_path}" do
        %i.fa.fa-users
        %span Users
    %li
      = link_to admin_events_path, class: "dropdown-item #{'active' if request.path == admin_events_path}" do
        %i.fa.fa-calendar
        %span Events
