// add

%tr{ id: "time_slot_#{time_slot.id}" }
  - time_slot.row_data_time_sortable.each do |cell|
    - if cell.is_a?(Time)
      %td{ data: { order: cell } }
        = cell.try(:to_s, :time_p)
    - else
      %td= cell
  %td.actions
    = time_slot.action_links
