= turbo_stream.append 'time_slots' do
  %div{data: {controller: 'time-slot-error', time_slot_error_message_value: @time_slot.errors.full_messages.join(', ')}}

= turbo_stream.update 'flash' do
  = show_flash
