= render partial: 'time_slots'

= turbo_frame_tag 'time-slot-edit-dialog', class: 'modal fade', data: {controller: 'modal-form', modal_form_target: 'modal'}

= turbo_frame_tag 'time-slot-new-dialog', class: 'modal fade', data: {controller: 'modal-form', modal_form_target: 'modal'}
