.row
  .col-md-12
    .page-header
      %h1
        Edit #{event} Speaker Email Notifications
        -if params[:form].present?
          \-
          %em=params[:form].humanize.gsub("form", "")

.row
  .col-md-12
    = form_for event, url: event_staff_update_path(event), html: {role: 'form'} do |f|
      = render partial: "admin/events/speaker_notifications_form", locals: {f: f}
