.row
  %fieldset.col-md-6
    %h2 New Track
    = form_for @track, url: organizer_event_tracks_path(@event), html: {method: 'post', role: 'form'} do |f|
      = render partial: 'form', locals: {f: f}
      %button.btn.btn-success{type: 'submit'} Save
