.row
  .col-sm-12
    .page-header.clearfix
      .btn-nav.float-end
        =link_to "Mark all as read", mark_all_as_read_notifications_path, data: {turbo: true, turbo_method: :post}, class: "btn btn-primary float-end"
      %h1 Notifications

.row
  .col-sm-12
    .widget.widget-table
      .widget-header
        %i.fa.fa-exclamation
        %h3 Notifications
      .widget-content
        %table#notifications.table.table-striped.table-bordered
          %thead
            %tr
              %th Message
              %th When
              %th.actions Actions
          %tbody
            - notifications.each do |notification|
              %tr{ class: notification.read? ? '' : 'unread' }
                %td= notification.message
                %td= notification.created_at.to_fs(:short)
                %td= link_to('Show', notification)
