= turbo_frame_tag dom_id(proposal, :rating_widget) do
  .widget-content
    = render partial: 'shared/proposals/rating_form', locals: {event: event, proposal: proposal, rating: rating}

  .internal-comments{class: !rating.persisted? ? 'hidden' : nil}
    .widget-header
      %i.bi.bi-chat-dots
      %h3.comments-heading= pluralize(proposal.internal_comments.count, 'Internal Comment')
    .widget-content
      = render partial: 'proposals/comments', locals: {proposal: proposal, comments: proposal.internal_comments}
