- if allow_review?(proposal)
  = form_for proposal, url: event_staff_proposal_path(event, proposal), html: {role: 'form', remote: true} do |f|
    .form-group.col-sm-8.no-pad-left
      .tag-list
        #autocomplete-options
          = (event.review_tags | proposal.review_tags)
        = f.text_field :review_tags, { value: proposal.review_tags.join(','), tabindex: '-1' }
        = program_tracker
    .form-group.col-sm-4
      %button.btn.btn-success.btn-sm(type="submit")
        %span.glyphicon.glyphicon-ok
      #cancel-tags-editing.btn.btn-danger.btn-sm
        %span.glyphicon.glyphicon-remove
