.row
  .col-sm-12
    .page-header
      %h1 Edit Track

.row
  .col-md-6
    %fieldset
      = form_for @track, url: event_staff_track_path(@event, @track), html: {method: 'patch', role: 'form'} do |f|
        = render partial: 'form', locals: {f: f}
        %button.btn.btn-success.pull-right{type: 'submit'} Update
