.row
  .col-md-12
    %header.page-header
      .btn-navbar.float-end
        = link_to event_staff_sponsor_path(current_event, @sponsor),
          data: {turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure? Confirming this action will remove the sponsor from the event website. Are you sure you want to do this? It can not be undone.'},
          class: 'btn btn-danger navbar-btn', id: 'delete' do
          %span.bi.bi-exclamation-circle
          Delete Sponsor
      %h1 Edit #{@sponsor.name}

= render 'form', sponsor: @sponsor
