.schedule-grid-cell
  - if !program_session.display_track_name.blank?
    .session-track
      = program_session.display_track_name
  .schedule-session-title
    = program_session.display_title
  .schedule-room
    %span.room-icon
    = program_session.room
  .schedule-presenter
    =  program_session.display_presenter
