.schedule-block-container
  .schedule-duration
    %span.session-start-time
      = sessions.first[:start_time]
    %span.session-end-time
      = sessions.first[:end_time]
  - if sessions.size == 1
    = render partial: 'session', locals: { session: sessions.first }
  - else
    .schedule-grid
      - sessions.each do |session|
        - next if session[:title].blank?
        = render partial: 'session', locals: { session: session }
