body {
  padding-top: $navbar-height;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  &.page-header-slim {
    margin-top: 20px;
  }

  h1 {
    margin-bottom: 0;
  }

  // force page-header actions to sit bottom-flush with h1 for now
  // until a page-header refactor using flexbox or display: table
  .toolbox {
    margin-top: 28px;
  }

  .label {
    vertical-align: middle;
  }
}
