@mixin icon-generic {
  background-size: 25px 25px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}

@mixin label-variant($color, $text-color) {
  background-color: $color;
  border: 1px solid darken($color, 5%);
  border-radius: 0;
  color: $text-color;
  text-transform: uppercase;

  &[href] {
    &:hover,
    &:focus {
      border-color: darken($color, 10%);
      color: darken($text-color, 10%);
    }
  }
}
