body {
  padding-top: var(--navbar-height);

/* flexbox for sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  &.page-header-slim {
    margin-top: 20px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .label {
    display: inline-block;
    margin-bottom: var(--padding-base-vertical);
    vertical-align: middle;
  }

  .meta-text {
    margin-bottom: var(--padding-base-vertical);
  }
}

.main {
  padding-bottom: var(--padding-large-vertical);
  flex: 1;
}

.page-footer {
  margin-top: calc(var(--padding-large-vertical) * 2);

  .page-footer-inner {
    padding-top: calc(var(--padding-large-vertical) * 2);
    padding-bottom: calc(var(--padding-large-vertical) * 2);
    border-top: 1px solid var(--gray-lighter);
  }
}

/* Flexbox module */
.flex-container {
  display: flex;
}

.flex-column  {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-item {
  flex: 1 1 auto;

  &.flex-item-padded {
    padding-left: calc(var(--padding-base-horizontal) / 2);
    padding-right: calc(var(--padding-base-horizontal) / 2);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &.flex-item-fixed {
    flex: none;
  }

  &.flex-item-right {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .flex-container-md {
    flex-direction: column;
  }
}
