.modal.fade id=identifier
  .modal-dialog
    .modal-content
      - if title.present?
        .modal-header
          button data-dismiss="modal"
            span aria-hidden="true" &times;
            span.sr-only Close
          h4.modal-title= title
      .modal-body
        = body
