.row
  .col-sm-12
    .page-header
      %h1 Edit Session Format

.row
  %fieldset.col-md-6
    = form_for @session_format, url: event_staff_session_format_path(@event, @session_format), html: {method: 'patch', role: 'form'} do |f|
      = render partial: 'form', locals: {f: f}
      %button.btn.btn-success.pull-right{type: 'submit'} Update
