= turbo_stream.update 'config-modal-content' do
  = render partial: 'form_modal', locals: {session_format: @session_format, title: 'Edit Session Format'}

= turbo_stream.update 'flash' do
  = show_flash
