.navbar.navbar-default.schedule-subnav
  .container-fluid
    %ul.nav.navbar-nav.navbar-right
      %li{class: schedule_subnav_item_class('event-schedule-grid-link')}
        = link_to event_staff_schedule_grid_path do
          %i.fa.fa-calendar-times-o
          %span Grid
      %li{class: schedule_subnav_item_class('event-schedule-time-slots-link')}
        = link_to event_staff_schedule_time_slots_path do
          %i.fa.fa-clock-o
          %span Time Slots
      %li{class: schedule_subnav_item_class('event-schedule-rooms-link')}
        = link_to event_staff_schedule_rooms_path do
          %i.fa.fa-tag
          %span Rooms
