- events.each do |event|
  .event
    %h1
      = event.event_path_for
      %small= event.status

    %span= link_to "View #{event.name}'s Guidelines", event_path(event.slug), class: 'guidelines-link'
