.row
  %fieldset.col-md-6
    %h2 Edit Session Type
    = form_for @session_type, url: organizer_event_session_type_path(@event, @session_type), html: {method: 'patch', role: 'form'} do |f|
      = render partial: 'form', locals: {f: f}
      %button.btn.btn-success{type: 'submit'} Update
