%div.sponsors-page-wrapper
  %h3
    Sponsors

  #sponsors
    - @sponsors_by_tier.each do |tier, sponsors|
      .sponsor-tier-wrapper
        .tier-title
          = tier
        .sponsors-wrapper
          = render sponsors

  %div{ data: { 'controller': 'banner-ads', 'banner-ads-event-slug-value': 'railsconf-2022', 'banner-ads-index-value': '0' } }