%ul.list-unstyled.other_proposals
  - if other_proposals.present?
    -other_proposals.each do |proposal|
      %li
        =link_to truncate(proposal.title, length: 55), event_staff_program_proposal_path(event, proposal)
        &nbsp;
        %span.other-proposal-status= proposal.state_label(small: true)
        .rating-and-track
          .other-proposal-rating
            %b Rating:
            = proposal.average_rating ? number_with_precision(proposal.average_rating, precision: 1) : "No Rating"
          .other-proposal-track
            %b Track:
            = proposal.track_name
  -else
    %li
      None
