- speakers.each do |speaker|
  %b
    = link_to(speaker.name, event_staff_speaker_path(speaker.proposal.event, speaker))
  %p
    = speaker.bio

- if current_user.organizer_for_event?(event)
  = link_to(new_event_staff_proposal_speaker_path(event, @proposal), class: "btn btn-primary") do
    %i.fa.fa-plus
    Add Speakers
