= render 'shared/event_info_bar', event: event
.row
  &nbsp;

-#.row
-#  .col-sm-offset-6.col-sm-6
-#    .btn-nav.text-end
-#      = link_to event_staff_proposals_path(format: "csv"), id: "download_link", class: "btn btn-info btn-sm" do
-#        %span.bi.bi-download
-#        Download CSV
.row
  &nbsp;

-#- if event.public_tags? && @taggings_count.present?
-#  .row
-#    .col-sm-7
-#      - @taggings_count.sort_by{|k,v| v}.reverse.each_slice(6).to_a.each do |row|
-#        %ul#columns.list-inline
-#          -row.each do |name, count|
-#            %li
-#              .label.badge text-bg-success
-#                = name
-#                = count

.row
  .col-sm-8.text-start
    %ul.selection-counts
      %li
        %span Accepted (Not Confirmed)
        %span.badge.text-bg-warning= @accepted_not_confirmed_count
      %li
        %span Accepted (Confirmed)
        %span.badge.text-bg-success= @accepted_confirmed_count
  .col-sm-4.text-end
    %small.text-end <em>Hint:</em> Hold <kbd>shift</kbd> to sort by multiple columns

.row{data: {controller: 'proposals-table'}}
  .col-md-12
    %table.datatable.table.table-striped.proposal-list{data: {proposals_table_target: 'table', cfp_column_types: '["number", "number", "number", "text", "text", null, "text", "text", "text", "text", null]'}}
      %thead
        %tr
          %th
          %th
          %th
          %th
          %th
          %th
          %th
          - if event.public_tags?
            %th
          %th
          %th
          %th.actions
        %tr
          %th Score
          %th Ratings
          %th Standard Deviation
          %th Speakers
          %th Talk Title
          %th Track
          %th Session Format
          - if event.public_tags?
            %th Proposal Tags
          %th Reviewer Tags
          %th Status
          %th.actions Soft Actions (Internal)
      %tbody
        = render @proposals
