.alert.alert-info.container
  %strong= invitation.email
  has been invited as a speaker for this talk.
  - if ! current_user
    You will be prompted to create an account.
  .pull-right
    = invitation.refuse_button
    = invitation.accept_button

= render template: 'proposals/show', locals: { proposal: proposal }
