%div{ id: "new-participant-invitation", class: 'modal fade' }
  .modal-dialog
    .modal-content
      = simple_form_for(:participant_invitation, url: organizer_event_participant_invitations_path(event)) do |f|
        .modal-header
          %h3 Invite a new participant
        .modal-body
          = f.error_notification

          = f.input :email
          = f.input :role, as: :select, collection: [ 'reviewer', 'organizer' ]

        .modal-footer
          %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
          %button.pull-right.btn.btn-success{:type => "submit"} Invite
