.row
  .col-sm-12.text-center
    %h2.margin-top= "Thanks for joining our team. To get started"
    %br
    = link_to "Create your Account", new_user_registration_path, class: "btn btn-primary btn-xlarge"
    %br
    %br
    If you already have an account
    = link_to "Log in", new_user_session_path
