%iframe(src="#{event_staff_page_path(current_event, @page)}" width="100%" style="height:90vh;")

= simple_form_for [current_event, :staff, @page] do |f|
  = f.hidden_field :published, value: true
  = submit_tag("Publish", class: "btn btn-success", type: "submit")

