.row
  .col-md-12
    .page-header.clearfix
      %h1 Preview #{@page.name} Page

%iframe{
  src: "#{event_staff_page_path(current_event, @page)}",
  width: "100%",
  style: "height:90vh;",
  id: "page-preview"}

.row
  .col-sm-12
    = link_to("Publish",
      publish_event_staff_page_path(current_event, @page),
      method: :patch,
      data: { confirm: "Are you sure you want to publish?" },
      class: 'btn btn-primary')
