<!-- Hero section-->
<section class="relative pt-16">
    <main class="lg:relative">
      <div class="mx-auto max-w-7xl w-full pt-16 pb-0 text-center lg:py-24 lg:text-left">
        <div class="lg:w-1/2 px-4 sm:px-8 xl:pr-16">
          <h1 class="text-4xl font-extrabold sm:text-4xl md:text-3xl lg:text-4xl xl:text-5xl">

            <span class="block mt-2">About</span>
            <h2 class="mt-4 text-xl md:mx-auto max-w-xl leading-8 font-['Headline']">Since 2001, RubyConf has been the main annual gathering of Rubyists from around the world. RubyConf is the perfect place for a more focused technical aspect of the Ruby language. </h2>
          </h1>
        </div>
      </div>
  
      <div class="relative invisible h-0 md:visible md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
        <img class="absolute inset-0 w-full h-auto object-fit" src="https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4032&q=80" alt="About">
      </div>
    </main>
  </section>
  
  <!-- About RubyCentral -->
  <section class="pt-16 pb-16">
    <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="hidden lg:block bg-gray-50 absolute top-0 bottom-0 left-3/4 w-screen"></div>
  
      <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
        <div>
          <h2 class="text-base font-extrabold tracking-wide uppercase font-['Headline']">The Why</h2>
          <h3 class="mt-2 text-3xl leading-8 font-extrabold sm:text-4xl">Our Mission</h3>
        </div>
      </div>
  
      <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-32">
        <div class="mt-8 lg:mt-0">
          <div class="text-base max-w-prose mx-auto lg:max-w-none mb-8">
            <p class="mb-8 text-lg">Focused on fostering the Ruby programming language and the robust community that has sprung up around it, RubyConf brings together Rubyists, both established and new, to discuss emerging ideas, collaborate, and socialize in some of the best locations in the US.</p>
            <p class="mt-8 text-lg">RubyConf strives to provide an inclusive and welcoming experience for all participants. We have an anti-harassment policy that we require ALL attendees, speakers, sponsors, volunteers, and staff to comply with — no exceptions. We also collaborate with a diversity, equity, and inclusion consultant. Review our <a class="text-blue-400 font-['Headline'] hover:underline" href="/policies" target="_blank">policies</a> for more details.</p>         
            <h3 class="mt-8 mb-4 text-xl leading-8 font-extrabold sm:text-2xl">Past RubyConf Videos</h3>
            <ul class="mt-4">
              <li class="my-2 flex text-red-400 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" />
                </svg>
                <span class="px-2 font-['Headline']" aria-hidden="true">2021</span>
                <a href="https://www.youtube.com/watch?v=paZ5_3F22V8&list=PLbHJudTY1K0f0oMhWtY-UyzOb7tUlaHps" target="_blank" class="text-base font-medium text-blue-400 font-['Headline'] hover:underline">
                  Denver <span aria-hidden="true">→</span>
                </a>
              </li>             
              <li class="my-2 flex text-red-400 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" />
                </svg>
                <span class="px-2 font-['Headline']" aria-hidden="true">2020</span>
                <a href="https://www.youtube.com/watch?v=FTWKackp1Js&list=PLbHJudTY1K0cyDs1ZwFLzlfQqvkDKt17N" target="_blank" class="text-base font-medium text-blue-400 font-['Headline'] hover:underline">
                  Virtual RubyConf <span aria-hidden="true">→</span>
                </a>
              </li>  
              <li class="my-2 flex text-red-400 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" />
                </svg>
                <span class="px-2 font-['Headline']" aria-hidden="true">2007-2019</span>
                <a href="http://confreaks.tv/conferences/ruby-conference" target="_blank" class="text-base font-medium text-blue-400 font-['Headline'] hover:underline">
                  RubyConfs <span aria-hidden="true">→</span>
                </a>
              </li>            
            </ul>
          </div>
        </div>
        <div class="relative lg:row-start-1 lg:col-start-2">
          <svg class="hidden lg:block absolute top-0 right-0 -mt-20 -mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
            <defs>
              <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-zinc-900" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
          </svg>
          <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
            <h3 class="mb-2 text-xl leading-8 font-extrabold sm:text-2xl">Program Committee</h3>
            <p class="text-lg">The amazing team crafting this year's incredible tracks!</p>
            <ul role="list" class="mt-8 space-y-0 sm:grid sm:grid-cols-1 sm:gap-0 sm:space-y-0 lg:gap-x-8">
              <li>
                <div class="flex items-center py-2 space-x-4 lg:space-x-6 border-t border-gray-700">
                  <img class="w-16 h-16 border border-white lg:w-20 lg:h-20" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZk09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0b419318c538c47f4d361947826bad95ff9aaf67/barrett.jpeg" alt="Barrett Clark">
                  <div class="flex-grow font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-base">Barrett Clark</h3>
                    <p class="text-base uppercase">Conference Co-chair</p>
                  </div>
                  <a href="https://twitter.com/barrettclark" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <span class="sr-only">Twitter</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </a>                
                </div>
              </li>
              <li>
                <div class="flex items-center py-2 space-x-4 lg:space-x-6 border-t border-gray-700">
                  <img class="w-16 h-16 border border-white lg:w-20 lg:h-20" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZlE9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b2a526c8df5fc44fc0169723983074666610ab3b/valerie.jpeg" alt="Valerie Woolard">
                  <div class="flex-grow font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-base">Valerie Woolard</h3>
                    <p class="text-base uppercase">Conference Co-chair</p>
                  </div>
                  <a href="https://twitter.com/valeriecodes" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <span class="sr-only">Twitter</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </a>                
                </div>
              </li>         
              <li>
                <div class="flex items-center py-2 space-x-4 lg:space-x-6 border-t border-gray-700">
                  <img class="w-16 h-16 border border-white lg:w-20 lg:h-20" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZlU9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--28383f383fc2ae988b5b3a3b19331d2831a89cb9/nick.jpeg" alt="Nick Borromeo">
                  <div class="flex-grow font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-base">Nick Borromeo</h3>
                    <p class="text-base uppercase">Program Committee - Off The Beaten Path</p>
                  </div>
                  <a href="https://twitter.com/nickborromeo" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <span class="sr-only">Twitter</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </a>                
                </div>
              </li>         
              <li>
                <div class="flex items-center py-2 space-x-4 lg:space-x-6 border-t border-gray-700">
                  <img class="w-16 h-16 border border-white lg:w-20 lg:h-20" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZlk9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--3d64eca90efdfbe15626bf66c3a840c7169d9b85/jamey.jpeg" alt="Jamey Hampton">
                  <div class="flex-grow font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-base">Jamey Hampton</h3>
                    <p class="text-base uppercase">Program Committee - Giving Back With Ruby</p>
                  </div>
                  <a href="https://twitter.com/jameybash" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <span class="sr-only">Twitter</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </a>                
                </div>
              </li>         
              <li>
                <div class="flex items-center py-2 space-x-4 lg:space-x-6 border-t border-gray-700">
                  <img class="w-16 h-16 border border-white lg:w-20 lg:h-20" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZmM9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d7bb520562460bb63c2957a8c2e6d051dc49106e/elayne.jpeg" alt="Elayne Juten">
                  <div class="flex-grow font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-base">Elayne Juten</h3>
                    <p class="text-base uppercase">Program Committee - Hidden Gems</p>
                  </div>
                  <a href="https://www.linkedin.com/in/elayne-juten" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <span class="sr-only">Linkedin</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                    </svg>
                  </a>                
                </div>
              </li>
              <li>
                <div class="flex items-center py-2 space-x-4 lg:space-x-6 border-t border-gray-700">
                  <img class="w-16 h-16 border border-white lg:w-20 lg:h-20" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZmc9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4397b5a5be362ca52c95b0cdf5a3757cb25af720/casey.jpeg" alt="Casey Watts">
                  <div class="flex-grow font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-base">Casey Watts</h3>
                    <p class="text-base uppercase">Program Committee - Bringing Your Backgrounds With You</p>
                  </div>
                  <a href="https://twitter.com/heycaseywattsup" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <span class="sr-only">Twitter</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </a>                
                </div>
              </li>            
              <li>
                <div class="flex items-center py-2 space-x-4 lg:space-x-6 border-b border-t border-gray-700">
                  <img class="w-16 h-16 border border-white lg:w-20 lg:h-20" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZms9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--09109bead715707eba9a4e3f2aa92e144b183366/brandon.jpeg" alt="Brandon Weaver">
                  <div class="flex-grow font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-base">Brandon Weaver</h3>
                    <p class="text-base uppercase">Program Committee - Navigating Hostile Systems</p>
                  </div>
                  <a href="https://twitter.com/keystonelemur" target="_blank" class="text-blue-400 hover:text-blue-500">
                    <span class="sr-only">Twitter</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                      <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                    </svg>
                  </a>                
                </div>
              </li>         
              <!-- More people... -->
            </ul>
          </div>
        </div>      
      </div>
    </div>
  </section>
  
  <!-- About / Staff -->
  <section class="bg-white pt-16 pb-16">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
      <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-16 lg:space-y-0">
        <div class="space-y-5 sm:space-y-4">
          <h2 class="text-3xl font-extrabold sm:text-4xl">About Ruby Central, Inc.</h2>
          <p class="text-xl text-zinc-500">RubyConf is brought to you by the team at Ruby Central, as well as a small but dedicated group of volunteers. Ruby Central is a 501(c)3 nonprofit organization dedicated to the support and advocacy of the Ruby community. Ruby Central functions as the visible presence and point of contact for this annual conference and other exciting Ruby activities.</p>
        </div>
        <div class="lg:col-span-2">
          <ul role="list" class="space-y-8 sm:grid sm:grid-cols-3 sm:gap-x-2 sm:gap-y-8 sm:space-y-0 lg:gap-x-4">
            <li>
              <div class="space-y-4">
                <div class="w-40 h-40 aspect-w-3 aspect-h-2">
                  <img class="object-cover shadow-lg border border-gray-800" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBanNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2c1530120e9b5bd0dba279fa303cd677f1b3dbed/neil.jpeg" alt="Neil McGovern">
                </div>
                <div class="leading-4 font-medium space-y-1">
                  <p class="text-lg">Neil McGovern</p>
                  <p class="text-zinc-500">Executive Director</p>
                </div>
  
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="https://twitter.com/nmcgovern" target="_blank" class="text-blue-500 hover:text-blue-600">
                      <span class="sr-only">Twitter</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="space-y-4">
                <div class="w-40 h-40 aspect-w-3 aspect-h-2">
                  <img class="object-cover shadow-lg border border-gray-800" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZm89IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--69280973572749fc352cdf737a1ae9517d5a87e9/shawntia.jpeg" alt="Dr. Shawntia Key">
                </div>
                <div class="leading-4 font-medium space-y-1">
                  <p class="text-lg">Dr. Shawntia Key</p>
                  <p class="text-zinc-500">Events &amp; Communications Manager</p>
                </div>
  
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="https://www.linkedin.com/in/shawntia/" target="_blank" class="text-blue-500 hover:text-zinc-500">
                      <span class="sr-only">Linkedin</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
  
            <li>
              <div class="space-y-4">
                <div class="w-40 h-40 aspect-w-3 aspect-h-2">
                  <img class="object-cover shadow-lg border border-gray-800" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZnc9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a2ce59ffbefc17ae0038fc131b91aa12d18a019b/lauren.jpeg" alt="Lauren Kim">
                </div>
                <div class="leading-4 font-medium space-y-1">
                  <p class="text-lg">Lauren Hubbard</p>
                  <p class="text-zinc-500">Digital + Social Marketing Strategist</p>
                </div>
  
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="https://www.linkedin.com/in/lolohubbard/" target="_blank" class="text-blue-500 hover:text-blue-600">
                      <span class="sr-only">Linkedin</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="space-y-4">
                <div class="w-40 h-40 aspect-w-3 aspect-h-2">              
                  <img class="object-cover shadow-lg border border-gray-800" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZjA9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f881a636cf789051b7bef3dcdb5b9fe836c8eb76/me2.jpg" alt="Devon St.Clair">
                </div>
                <div class="leading-4 font-medium space-y-1">
                  <p class="text-lg">Devon St.Clair</p>
                  <p class="text-zinc-500">Designer</p>
                </div>
  
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="https://twitter.com/devonstclair" target="_blank" class="text-blue-500 hover:text-blue-600">
                      <span class="sr-only">Twitter</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="space-y-4">
                <div class="w-40 h-40 aspect-w-3 aspect-h-2">   
                  <img class="object-cover shadow-lg border border-gray-800" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ0VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e5290115cb62a89b430ff08661b4261102a71bd2/Image%20from%20iOS%20(1).jpg" alt="Ally Vogel">
                </div>
                <div class="leading-4 font-medium space-y-1">
                  <p class="text-lg">Ally Vogel</p>
                  <p class="text-zinc-500">Events Coordinator</p>
                </div>
  
                <ul role="list hidden" class="flex space-x-5">
                  <li>
                    <a href="https://twitter.com/devonstclair" target="_blank" class="hidden text-blue-500 hover:text-blue-600">
                      <span class="sr-only">Twitter</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="space-y-4">
                <div class="w-40 h-40 aspect-w-3 aspect-h-2">
                  <img class="object-cover shadow-lg border border-gray-800" src="https://cfp.rubycentral.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaEVCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--afe59459819a02a26f2a12e2c7521815ed5163f3/raksha.jpeg" alt="Raksha Muthukumar">
                </div>
                <div class="leading-4 font-medium space-y-1">
                  <p class="text-lg">Raksha Muthukumar</p>
                  <p class="text-zinc-500">DEI Consultant</p>
                </div>
  
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="https://twitter.com/raxsha" target="_blank" class="text-blue-500 hover:text-blue-600">
                      <span class="sr-only">Twitter</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                        <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>          
          </ul>
        </div>
      </div>
    </div>
  </section>