.row
  .col-md-12
    .page-header.clearfix
      .btn-navbar.pull-right
        = link_to event_staff_program_session_path(current_event, @program_session),
          method: :delete, data: { confirm: 'This will delete this talk. Are you sure you want to do this? ' + 'It can not be undone.' },
          class: 'btn btn-danger navbar-btn', id: 'delete' do
          %span.glyphicon.glyphicon-exclamation-sign
          Delete Program Session
      %h1 Edit Program Session

= render partial: 'form', locals: { program_session: @program_session }
