.event {
  .info-bar {
    h4 {
      line-height: 1.35em;
    }
  }
  .checklist {
    a {
      color: $white;
    }
    .set {
      background-color: $brand-success;
    }
    .missing {
      background-color: $brand-danger;
    }
    .optional a {
      color: $black;
    }
  }

  .status-dropdown {
    display: none;
  }

  #event_state {
    width: 100%;
    display: block;
    margin-bottom:.25em;
  }

  #session_format_public {
    height: 2em;
    width: 2em;
    display: inline-block;
  }
}


