.proposal,
.proposal-section {
  margin-bottom: 1em;
}

.speaker {
  > h1, > h2, > h3, > h4 {
    margin-top: 0;
  }
  + .form-submit {
    border-top: none;
  }
}

.speaker img, .speaker-image {
  margin: 0 0.5em 0.8em 0;
}

#proposal {
  span {
    &.status {
      float: right;
      display: block;
      margin: .3em 6.5em .4em 0;
    }
    &.small-status {
      float: right;
      font-size: 75%;
      display: block;
    }
  }

  p.count {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  ul.invitation {
    padding: 0;
    .label {
      margin-right: 10px;
    }
  }
  .other_proposals li{ margin-bottom: 5px;}
  .other_proposal_tags {
    padding-left: 10px;
    margin-bottom: 7px;
  }
}

#copy-emails {
  margin: 10px;
}

#emails-for-copy {
  display: none;
}

.proposal-list {
  .actions { width: 180px; }
  .date_range_filter, .text_filter { width: 100px !important; }
}

ul {
  list-style-type: none;
  li.proposal .label {
    margin-right: 1em;
  }
  li.proposal {
    border-bottom: 1px solid $gray-lighter;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.status.label {
  font-size: 1.3em;
}

.twitter-share-button {
  margin-left: .5em;
  margin-top: 2.3em;
}

.btn.save-comment {
  width: 105px;
  float: right;
}

span.disabled-state {
  padding: 3px 20px;
  color: grey;
}

.callout {
  border-left: solid darken(#dff0d8, 10%) 5px;
  background-color: lighten(#dff0d8, 5%);
  padding: $padding-base-horizontal;

  .callout-title {
    @extend .control-label;
    margin-bottom: $padding-large-vertical * 2;
  }
}

.ratings_list {
  .text-success:hover { color: #468847; }
  dt {
    text-align: left;
    font-weight: normal;
  }
  dd { margin-left: 150px; }
}

span.glyphicon-question-sign {
  font-size: 1.3em;
  display: inline-block;
}

div.col-md-4 {
    h3 {
      display: inline-block;
    }
}

.invite-btns {
  margin-top: 10px;
}

.speaker-invite-form {
  display: none;
  form {
    margin-top: 0px;
  }
}

// Refactored proposals list items
.proposal-info-bar {
  padding-bottom: $padding-large-vertical;

  i.fa {
    position:relative;
    margin-top: -0.1em;
  }
  
  .proposal-title {
    margin-top: 0;
    margin-bottom: $padding-base-vertical;
    font-weight: bold;
  }

  .proposal-meta {
    font-size: $font-size-small;
    color: $gray;

    .proposal-meta-item {
      display: inline-block;
      margin-right: $padding-base-horizontal;
    }

    .proposal-description {
      line-height: 1;
      margin-bottom: $padding-base-vertical * 2;
    }
  }

  .proposal-status {
    padding-bottom: $padding-large-vertical;

    .label {
      margin-right: 0;
    }
  }
}
