#schedule {
  margin-top: 20px;

  .nav-tab-content {
    display: flex;
    align-items: center;

    .day {
      font-weight: bold;
      font-size: 1.25em;
    }

    .counts-container {
      text-align: right;
      margin-left: 2em;
      color: $text-color;
    }
  }
}

.grid-wrapper {
  display: inline-block;

  .bulk-preview-bar {
    form {
      display: inline-block;
    }
  }
}

.schedule-grid {
  $day-start: 8*60px;
  $day-end: 19*60px;
  $time-range: $day-end - $day-start;
  $time-step: 60px;
  $vertical-scale: 2.5;
  $pixel-range: $time-range * $vertical-scale;
  $pixel-step: $time-step * $vertical-scale;
  $column-width: 180px;

  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;
  margin-bottom: 20px;
  border-collapse: collapse;

  .ruler, .ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ruler {
    width: 70px;
    height: $pixel-range;
    border-radius: 2px;
    color: #000;
    font-size: $font-size-xs;
    margin: 87px 0 0 0;
    white-space: nowrap;
  }

  .ruler li {
    height: $pixel-step;
    text-align: center;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      border-bottom: 1px solid rgba(0,0,0, .5);
      width: 10px;
      top: .6em;
      left: 60px;
      z-index: 5;
    }
  }

  .room-column {
    width: $column-width;
    padding: 0;
    margin: 0;

    &.no-grid-position .column-header {
      background: rgb(220, 220, 220);
    }

    &.no-grid-position .time-slots {
      background: rgb(240, 240, 240);
    }
  }

  .column-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    text-align: center;
    color: #666;
    background: rgb(204, 204, 204);
    border-right: 1px solid #FFF;

    .room-number {
      font-style: italic;
    }
  }

  .time-slots, .time-slots .time-slot {
    border-style: solid;
    border-color: rgba(0,0,0,.2);
  }

  .time-slots {
    position: relative;
    height: $pixel-range;
    width: $column-width;
    background: rgb(230, 230, 230);
    margin-top: 4px;
    border-width: 0 1px 0 0;
  }

  .room-column:first-of-type .time-slots {
    border-width: 0 1px 0 1px;
  }

  .time-slot {
    position: absolute;
    width: 100%;
    text-align: left;
    font-size: $font-size-small;
    background: #FFF;
    cursor: pointer;
    z-index: 10;
    border-width: 1px 0 1px 0;

    .track {
      padding: 5px 5px 5px 10px;
      font-style: italic;
      overflow-x: hidden;
      white-space: nowrap;
    }

    .title {
      padding: 5px 5px 5px 10px;
    }

    .presenter {
      padding: 5px 5px 5px 10px;
      color: $brand-primary;
      font-size: $font-size-xs;
      overflow-x: hidden;
      white-space: nowrap;
    }

    &.preview {
      cursor: default;
      background: $brand-info;
      .title {
        color: #fff;
      }
    }
  }
}

#bulk-time-slot-create-dialog {
  input.time-slot-duration {
    width: 80px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
