#schedule {
  margin-top: 20px;
}

.schedule-grid {
  $day-start: 8*60px;
  $day-end: 20*60px;
  $time-range: $day-end - $day-start;
  $time-step: 60px;
  $vertical-scale: 1.0;
  $pixel-range: $time-range * $vertical-scale;
  $pixel-step: $time-step * $vertical-scale;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  font-size: $font-size-xs;
  margin-bottom: 20px;
  border-collapse: collapse;

  .ruler, .ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ruler {
    border-radius: 2px;
    color: #000;
    margin: 18px 0 0 0;
    width: 70px;
    white-space: nowrap;
    height: $pixel-range;
  }

  .ruler li {
    height: $pixel-step;
    text-align: center;
    position: relative;
  }

  .ruler li:before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #999;
    width: .64em;
    top: .6em;
    right: 0;
  }

  .room-column {
    width: 110px;
    padding: 6px;
    margin: 0 6px;
    background: rgba(170, 57, 57, 0.3);
  }

  .column-header {
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: 800;
    text-align: center;
    width: 100%;
  }

  .time-slots {
    height: $pixel-range;
    position: relative;
  }

  .time-slot {
    position: absolute;
    border: 2px solid #567714;
    width: 100%;
    text-align: center;
    background: #D4EE9F;
    cursor: default;
  }

}
