ul.selection-counts {
  padding: 0;

  li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:    var(--navbar-padding-vertical);
    padding-top:    var(--navbar-padding-vertical);

    .track-select {
      display: inline;
    }
  }

  li.dropdown > a {
    padding-bottom:    var(--navbar-padding-vertical);
    padding-top:    var(--navbar-padding-vertical);
  }
}
