.custom-list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}

.session-edit-dialog {
  form {
    text-align: left;

    .form-group {
      display: block;
      margin-bottom: 15px;
    }
  }
}

#rooms-partial, #tracks-partial {
  header {
    h3, .btn { float:left;}
    .btn {margin: 21px 0 0 15px;}
  }
  dl {
    dt {
      font-weight: normal;
      text-align: left;
      margin-bottom: 5px;
    }
  }
}

.tab-content { margin-top: 20px; }

#download-json {
  margin-top: 5px;
}

#schedule {
  table.schedule {
    border-collapse: separate;
    td {
      border: 1px solid black;
    }
  }
}