.teammate-info-bar {

  margin-top: 15px;

  .teammate-meta {
    font-size: var(--font-size-small);
    color: var(--gray);

    .teammate-meta-item {
      display: inline-block;
      margin-right: var(--padding-base-horizontal);
      font-size: var(--font-size-small);
      color: var(--gray);
    }
  }
}
