.schedule-page {
  width: fit-content;
  margin-top: 20px;
}

.grid-with-unscheduled {
  display: flex;
  margin-top: 85px;

  .tab-pane {
    position: absolute;
    visibility: hidden;
  }

  .tab-pane.active {
    position: relative;
    visibility: visible;
  }
}

.grid-content {
  display: flex;
}

nav.schedule-nav {
  border-bottom: 1px solid #efefef;
  padding: 0 0 0 6%;
  position: fixed;
  padding-top: 50px;
  top: 77.8px;
  left: 0px;
  width: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;

  ul {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    color: var(--schedule-tab-inactive);
    padding: 5px 10px;

    &:hover {
      background-color: var(--gray-lighter);
      border-radius: 2px 2px 0px 0px;
      cursor: pointer;
    }

    &.active {
      color: var(--ruby-central-red);
      border: 1px solid #efefef;
      border-bottom: 1px solid var(--white);
      border-radius: 2px 2px 0px 0px;
    }

    &.active:hover {
      background-color: var(--white);
      cursor: default;
    }

    span {
      padding: 0px 10px;
      font-size: 16px;
      font-weight: bold;
    }

    .badge {
      display: inline-block;
      min-width: 10px;
      padding: 3px 7px;
      font-size: 12px;
      font-weight: bold;
      color: var(--white);
      line-height: 1;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;
      background-color: var(--schedule-tab-inactive);
      border-radius: 10px;
    }
  }

  .btn {
    margin-left: auto;
    margin-right: 20px;
  }
}

.bulk-preview-bar {
  .bar {
    padding: 1.5em;
    margin-left: 1em;
    z-index: 1080;
  }

  form {
    display: inline-block;
  }
}

.search-sessions-wrapper {
  padding: 1em 0 0;
  display: flex;
  align-items: baseline;
  input {
    flex: 1;
    margin-left: 4px;
  }
}

.unscheduled-sessions-widget {
  &.draggable-hover {
    background-color: #e0e0e0;
    border: 2px dashed #999;
  }

  .draggable-session-card {
    margin: 1em auto;
  }
}

/* the draggable session card has a different appearance depending on context: */

/* in the body (as it's being dragged) and global */
body .draggable-session-card,
body .custom-session-card {
  width: 240px;
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  height: 90px;
  text-align: center;
  cursor: move;
  background-color: white;
  z-index: 10;
  opacity: .5;

  .session-card-body {
    padding: .5em;
    div {
      padding: .25em 0;
    }
  }

  .track {
    width: 100%;
    color: white;
    padding: .25em .5em;
    font-size: .75em;
  }

  .title {
    font-weight: bold;
    font-size: 1.1em;
  }
}

body .custom-session-card {
  cursor: pointer;
}

/* in the unscheduled sessions widget */
.unscheduled-sessions-widget .draggable-session-card {
  opacity: 1;
  width: 220px;
}

/* in the grid */
.schedule-grid .draggable-session-card,
.schedule-grid .custom-session-card {
  opacity: 1;
  height: 100%;
  width: 100%;
  box-shadow: none;

  &.small {
    .title {
      position: absolute;
      top: 50%;
      width: 100%;
      padding-top: 4px;
    }
  }

  &.medium {
    .presenter {
      display: none;
    }

    .title {
      padding: 0;
    }
  }

  &.large {
    position: relative;
    .session-card-body {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}

.schedule-grid {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 20px;
  border-collapse: collapse;

  .room-column {
    width: 240px;
    padding: 0;
    margin: 0;

    &.no-grid-position {
      background: rgb(220, 220, 220);
    }

    &.no-grid-position .time-slots {
      background: rgb(240, 240, 240);
    }
  }

  .column-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    text-align: center;
    color: var(--white);
    background: var(--schedule-header-bg);
    border-right: 1px solid var(--white);
  }

  .time-slots, .time-slots .time-slot {
    border-style: solid;
    border-color: var(--schedule-border);
  }

  .time-slots {
    position: relative;
    height: 100%;
    width: 240px;
    background: rgb(230, 230, 230);
    margin-top: 4px;
    border-width: 0 1px 0 0;
    display: flex;
    justify-content: center;
  }

  .room-column:first-of-type .time-slots {
    border-width: 0 1px 0 1px;
  }

  .time-slot {
    position: absolute;
    width: calc(100% - 6px);
    text-align: left;
    font-size: var(--font-size-small);
    background: #FFF;
    cursor: pointer;
    z-index: 10;
    border-width: 1px .5px .5px 0;

    &.draggable-hover {
      background: #e0e0e0;
      border: 2px dashed #999;
    }

    &.preview {
      cursor: default;
      background: var(--brand-info);
      .title {
        color: #fff;
      }
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.schedule-ruler {
  position: sticky;
  border-right: 1px solid var(--schedule-border);
  color: var(--black);
  font-size: 11px;
  margin: -3px 0 0 -3px;
  white-space: nowrap;
  background-color: #FFFFFF95;
  z-index: 14;
  padding: 0px 5px;
  display: inline-block;
  left: 0px;

  .schedule-grid & {
    margin-top: 37px;
  }
}

.ruler-tick {
  height: 90px;
  text-align: right;
  position: relative;
  width: 48px;
}

.unscheduled-area {
  position: sticky;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  min-width: 300px;
  padding: 0px 20px;
  top: 150px;
  right: -2px;
  height: calc(100vh - 150px);
  margin-top: -40px;
  margin-left: 0px;
  background: var(--white);
  border-left: 1px solid var(--schedule-border);
  z-index: 500;
  overflow: auto;

  .header-wrapper {
    cursor: pointer;

    h3 {
      color: var(--schedule-accent);
      font-size: 17.5px;
      display: inline-block;
      margin-right: 10px;
    }

    .badge {
      background-color: var(--schedule-accent);
    }

    &:hover {
      h3 {
        color: var(--schedule-accent-hover);
      }
      .badge {
        background-color: var(--schedule-accent-hover);
      }
    }
  }

  input {
    padding-right: 20px;
    box-sizing: border-box;
    max-width: 160px;
    margin-left: 10px;
  }

  .bi {
    position: relative;
    right: 20px;
    cursor: pointer;
    color: darkgray;
    transition: .1s;

    &:hover {
      color: #000
    }
  }
}

.generate-confirm {
  position: fixed;
  padding: 10px;
  background-color: var(--schedule-accent);
  top: 110px;
  right: 160px;
  width: 400px;
  justify-content: space-evenly;
  display: flex;
  z-index: 3000;
  border-radius: 5px;

  span {
    color: var(--white);
    font-size: .9em;
    margin-top: 5px;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    width: 200px;

    .btn {
      height: 20px;
      padding: 2px 5px;
      margin-top: 5px;
    }
  }
}
