/*------------------------------------------------------------------
[1. Shortcuts / .shortcuts]
*/

.shortcuts {
  text-align: center;
}

.shortcuts .shortcut {
  background: var(--beige);
  display: inline-block;
  margin: 0 .9% 1em;
  padding: 12px 0;
  vertical-align: top;
  text-decoration: none;
  width: 22.50%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all ease-in-out .15s;
}

.shortcuts .shortcut .shortcut-icon {
  color: var(--gray-dark);
  font-size: 32px;
  margin-top: .25em;
  margin-bottom: .25em;
}

.shortcuts .shortcut:hover {
  background: var(--brand-primary);
}

.shortcuts .shortcut:hover span{
  color: #fff;
}

.shortcuts .shortcut:hover .shortcut-icon {
  color: #fff;
}

.shortcuts .shortcut-label {
  display: block;

  font-weight: 400;
  color: #545454;
}


@media (max-width: 979px) {

  .shortcuts .shortcut {
    width: 31%;
  }
}
