/*!
 * Social Buttons for Bootstrap
 * Modernized - removed IE8/9 legacy code
 */

.btn-twitter {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1c95d0;
  background-image: linear-gradient(to bottom, #2daddc, #0271bf);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
  color: #ffffff;
  background-color: #0271bf;
}

.btn-twitter:active,
.btn-twitter.active {
  background-color: #01538d;
}

.btn-github {
  color: #000000;
  text-shadow: 0 0.7px 0 rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  margin-left: 10px;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.btn-github.disabled,
.btn-github[disabled] {
  color: #000000;
  background-color: #e6e6e6;
}

.btn-github:active,
.btn-github.active {
  background-color: #cdcdcd;
}
