.proposal-section
  %h3.control-label Abstract
  .markdown{ data: { 'field-id' => 'proposal_abstract' } }
    = proposal.abstract_markdown

%h2.fieldset-legend For Review Committee

.proposal-section
  %h3.control-label Details
  .markdown{ data: { 'field-id' => 'proposal_details' } }
    = proposal.details_markdown

.proposal-section
  %h3.control-label Pitch
  .markdown{ data: { 'field-id' => 'proposal_pitch' } }
    =proposal.pitch_markdown

- if proposal.custom_fields.any?
  - proposal.proposal_data[:custom_fields].select do |key,value|
    .proposal-section
      %h3.control-label= key.capitalize
      %div
      = value.capitalize
      %div
