%h3 Abstract
%div{ data: { 'field-id' => 'proposal_abstract' } }
  = proposal.abstract

%h3 Details
%div{ data: { 'field-id' => 'proposal_details' } }
  = proposal.details

%h3 Pitch
%div{ data: { 'field-id' => 'proposal_pitch' } }
  =proposal.pitch
