%h1 People

%table.people.datatable.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Created At
      %th
    %tr
      %th Name
      %th Email
      %th Role
      %th Created At
      %th.actions Actions
  %tbody
    = render people
