@media (max-width: 690px) {
  .navbar-collapse {
    background-color: #eee;
  }
  .navbar-nav li a.review_nav {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open a:focus {
    background-color: #777;
  }
}
