// vendor styles
@import "bootstrap";
@import "base/css-colors";
@import "base/bootstrap-overrides";


@import "vendor/jquery.mentionsInput";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "bootstrap-multiselect";
@import "selectize";
@import "selectize.default";

// base application styles
@import "base/mixins";
@import "base/base";
@import "base/layout";
@import "base/helper_classes";
@import "base/typography";

// page specific styles
// @import "pages/*";

// module styles
@import "modules/badge";
@import "modules/buttons";
@import "modules/calendar";
@import "modules/coderay";
@import "modules/code-mirror";
@import "modules/dashboard";
@import "modules/data_tables";
@import "modules/discussions";
@import "modules/events";
@import "modules/forms";
@import "modules/icons";
@import "modules/labels";
@import "modules/navbar";
@import "modules/markdown";
@import "modules/news";
@import "modules/notification";
@import "modules/event-teammate-invitations";
@import "modules/program-session";
@import "modules/proposal";
@import "modules/profile";
@import "modules/ratings";
@import "modules/schedule";
@import "modules/selection";
@import "modules/time-slot";
@import "modules/social-buttons";
@import "modules/shortcuts";
@import "modules/speaker";
@import "modules/stats";
@import "modules/tooltips";
@import "modules/widgets";
@import "modules/teammates";
@import "modules/staff-website-page";
