.comment {
  border: 0 solid #ddd;
  border-left-width: 5px;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}

.speaker-comment {
  border-color: #9ACFEA;
}

.reviewer-comment {
  border-color: #E29C78;
}

.organizer-comment {
  border-color: #D95BD8;
}
