#proposal {
  input#email { width: 80%; }
  select#rating_score {
    width: 4em;
    display: inline;
  }

  span {
    &.status {
      float: right;
      display: block;
      margin: .3em 6.5em .4em 0;
    }
    &.small-status {
      float: right;
      font-size: 75%;
      display: block;
    }
  }

  ul.invitation {
    padding: 0;
    .label {
      margin-right: 10px;
    }
  }
  .other_proposals li{ margin-bottom: 5px;}
  .other_proposal_tags {
    padding-left: 10px;
    margin-bottom: 7px;
  }
}

#copy-emails {
  margin: 10px;
}

#emails-for-copy {
  display: none;
}

.proposal-list {
  .actions { width: 180px; }
  .date_range_filter, .text_filter { width: 100px !important; }
}

ul {
  list-style-type: none;
  li.proposal .label {
    margin-right: 1em;
  }
}

.status.label {
  font-size: 1.3em;
}

.twitter-share-button {
  margin-left: .5em;
  margin-top: 2.3em;
}

.toolbox {
  margin: 1.5em 0 -.8em;
  a {
    float: left;
    margin-right: .5em;
  }
}

input#email {
  width: 275px !important;
}

.btn.save-comment {
  width: 105px;
  float: right;
}
.btn#back, .btn#edit {
  margin-bottom: 5px;
}

span.disabled-state {
  padding: 3px 20px;
  color: grey;
}

#delete {
  margin-right: 5px;
}

.row {
  #updated_parent {
    /* Place this row behind the status buttons */
    z-index: -1;
  }
}

#organizer-proposals-index {
  .dataTables_filter, .filter_date_range {
    display: none;
  }
  .top_row_buttons { margin-bottom: 5px;}
}

#reviewer-proposals_wrapper {
  // A hack to hide our rated? boolean column that is being used to initally sort
  th:last-of-type, td:last-of-type{ display: none }
}

.callout {
  border-left: solid darken(#dff0d8, 10%) 5px;
  background-color: lighten(#dff0d8, 5%);
  padding-left: 0.5em;
}

#event_statistics {
  h3 {
    margin-bottom: -10px;
  }
  dl {
    margin-left: .5em;
  }
  dt {
    text-align:left;
    width: 160px;
  }
  dd { margin-left: 140px; }
}

.glyphicon-leaf {
  color: green;
  &:hover{cursor: pointer;}
}


.ratings_list {
  .text-success:hover { color: #468847; }
  dt {
    text-align: left;
    font-weight: normal;
  }
  dd { margin-left: 150px; }
}
