%div{ id: "session-edit-#{session.id}" }
  .modal-dialog
    .modal-content
      = form_for [event, session], url: organizer_event_session_path(session.event_id, session), remote: true, html: {role: 'form'} do |f|
        .modal-header
          %h3 Edit Session
        .modal-body
          = render partial: 'organizer/sessions/form',
              locals: {f: f, session: session }
        .modal-footer
          %button.pull-right.btn.btn-primary{:type => "submit"} Save
          %button#cancel.btn.btn-default{'data-dismiss' => "modal"} Cancel
