.modal-dialog
  .modal-content
    = form_for [event, session], remote: true,
        url: organizer_event_sessions_path(event),
        html: {role: 'form'} do |f|
      .modal-header
        %h3 New session
      .modal-body
        = render partial: 'organizer/sessions/form',
            locals: {f: f, session: session}
      .modal-footer
        %ul#form-flash.pull-left
          - flash.map do |key, value|
            %li{ class: "alert alert-#{key}"}= value

        %button.btn.btn-primary{:type => "submit",
          name: 'button', value: 'save'} Save
        %button.btn.btn-primary{:type => "submit",
          name: 'button', value: 'save_and_add'} Save and Add
        %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
