#rooms-partial
  %header
    %h3 Rooms
    = link_to "Add Room", "#", class: "btn btn-primary btn-sm",
      data: { toggle: 'modal', target: "#room-new-dialog" }
    .clearfix
  %table.table.table-striped#organizer-rooms
    %thead
      %tr
        %th Name
        %th Room #
        %th Address
        %th Level
        %th Capacity
        %th Grid Position
        %th.actions Actions
    %tbody
      = render event.rooms
  #room-new-dialog.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %h3 New room
        = render partial: 'organizer/rooms/form', locals: { room: Room.new }
