#tracks-partial
  %header
    %h3 Tracks
    = link_to "Add Track", "#", class: "btn btn-primary btn-sm",
      data: { toggle: 'modal', target: "#track-new-dialog" }
  .clearfix
  %dl.dl-horizontal#tracks
    = render event.tracks
  #track-new-dialog.modal.fade
    .modal-dialog
      .modal-content
        = form_for :track, remote: true,
            url: organizer_event_tracks_path(event),
            html: {role: 'form'} do |f|
          .modal-header
            %h3 New track
          .modal-body
            = render partial: 'organizer/tracks/form', locals: { f: f }
          .modal-footer
            %button.pull-right.btn.btn-primary{:type => "submit"} Save
            %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
