.row
  .col-md-12
    %header.page-header
      %h1 Users Admin

.row
  .col-sm-12
    .widget.widget-table
      .widget-header
        %i.bi.bi-people-fill
        %h3 Users
      .widget-content
        %table.datatable.table.table-striped{data: {controller: 'cfp-datatable', cfp_column_types: '["text", "text"]'}}
          %thead
            %tr
              %th
              %th
              %th
              %th
              %th
              %th
              %th
              %th.actions
            %tr
              %th Name
              %th Email
              %th Role
              %th OAuth Type
              %th Proposals
              %th Accepted
              %th Created At
              %th.actions Actions
          %tbody
            = render users
