%ul.list-unstyled.other_proposals
  -other_proposals.each do |proposal|
    %li
      =link_to truncate(proposal.title, length: 55), organizer_event_proposal_path(event, proposal)
    %br
    Average Score:
    = proposal.average_rating ? number_with_precision(proposal.average_rating, precision: 1) : "No Rating"
    = proposal.state_label(small: true)
    .other_proposal_tags= proposal.review_tags
    %hr
  -if other_proposals.empty?
    %li
      None
