- speakers.each do |speaker|
  %b
    = link_to(speaker.name,
      organizer_event_speaker_path(speaker.proposal.event, speaker))
  %p
    = speaker.bio
    - if current_user.organizer_for_event?(event)
      = link_to(organizer_event_speaker_path(speaker.proposal.event, speaker),
            class: "btn btn-primary") do
        Manage Speakers