#organizer-speakers-index
  %h2
    = event
    Speakers
  =link_to(organizer_event_path(event), id: "back_link", class: "btn btn-primary") do
    &laquo; Return to Event

  .row
    .col-md-12
      %table#organizer-speakers.datatable.table.table-striped.speaker-list
        %thead
          %tr
            %th
            %th
            %th
            %th
          %tr
            %th Name
            %th Email
            %th Proposal Title
            %th Proposal Status
        %tbody
          - proposals.each do |proposal|
            - proposal.speakers.each do |speaker|
              %tr
                %td=link_to speaker.name, edit_profile_organizer_event_speaker_path(event, speaker)
                %td= speaker.email
                %td= link_to proposal.title, organizer_event_proposal_path(event, proposal)
                %td= proposal.state_label(small: true)
