#show-proposal-tags
  = turbo_frame_tag 'proposal-tags' do
    - if !@event.public_tags? && current_user.organizer_for_event?(@event)
      = link_to 'Add', edit_event_staff_proposal_tags_path(@event),
        data: {turbo: true, turbo_frame: 'proposal-tags'}, class: 'btn btn-success btn-sm float-end add-proposal-tags'
    - else
      %p= @event.valid_proposal_tags
      - if current_user.organizer_for_event?(@event)
        = link_to 'Edit', edit_event_staff_proposal_tags_path(@event),
          data: {turbo: true, turbo_frame: 'proposal-tags'}, class: 'btn btn-primary btn-sm float-end edit-proposal-tags'
