.header-wrapper{data: { action: "click->draggable-sessions#toggleWidget" }}
  %h3 Unscheduled Sessions
  %span.badge{data: { draggable_sessions_target: "badge" }}= "#{@unscheduled_sessions.count}/#{@sessions.count}"
= text_field_tag(:session_search, nil, id: nil, placeholder: "Search", data: { draggable_sessions_target: "searchInput", action: "keyup->draggable-sessions#filterSessions" })
%span.bi.bi-x{data: { action: "click->draggable-sessions#clearSearch" }}
.unscheduled-sessions-widget{data: { draggable_sessions_target: "widget" }}
  - @unscheduled_sessions.each do |unscheduled_session|
    - ps = Staff::ProgramSessionDecorator.decorate(unscheduled_session)
    = render partial: 'draggable_session', locals: { ps: ps }
