@import '@fortawesome/fontawesome-free';
@import './bootstrap_custom.scss';

.navigation {
  height: 60px;
}

.card-img-top {
  height: 200px;
  img {
    max-width: 250px;
  }
}

.card-text {
  height: 60px;
}
