@import url('https://rsms.me/inter/inter-ui.css');
@import 'colors';
@import 'nav';
@import 'footer';
@import 'schedule';

:root {
  --body_background_color: white;
  --nav_background_color: white;
  --nav_text_color: black;
  --nav_link_hover: black;
  --main_content_background: white;
  --sans-serif-font: 'Inter';
}

html {
  font-family: var(--sans-serif-font), sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--sans-serif-font), sans-serif;
  }
}

body {
  color: $text;
  padding: 0;
  margin: 0;
  background: var(--body_background_color);
  overflow: scroll;
}

.hidden {
  display: none;
}

#content {
  background-color: var(--main_content_background);
  padding: 0 20px 0 20px;
  margin-top: 100px;
}

p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
  &:last-child {
    margin: 0;
  }
}

a {
  display: inline-block;
  transition: all 0.25s ease-in-out;
  text-decoration: underline;
  color: $text;
}

em {
  font-style: italic;
}

ul li {
  list-style-type: none;
  padding: 0 0 12px 12px;
}


.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
}