$grey: #494644 !default;
$grey-light: #C4C4C4 !default;
$grey-lightest: #F5F5F5 !default;
$grey-logo: #E6E6E6 !default;
$text: $grey !default;
$black: #000000;
$red: #C04F45 !default;
$gold: #ecd192 !default;
$divider: #E0D2C7 !default;
$divider-light: rgba(0, 0, 0, .1);
