$blue: #5cabe7 !default;
$purple: #7445C0 !default;
$gold: #E0B952 !default;
$green: #829757 !default;
$red: #C04F45 !default;
$darkest: #211F1E !default;
$darker: #03223b !default;
$grey: #494644 !default;
$lighter: #8B8785 !default;
$lightest: #D4CDC4 !default;
$divider: #E0D2C7 !default;
$dividerlight: rgba(224,210,199,.5) !default;
$text: $grey !default;
$diamond: #bed1f5 !default;
$platinum: #e1e5ec !default;
$gold: #ecd192 !default;
$silver: #d1d2d6 !default;
$bronze: #eed4c2 !default;
$white: #FEFCF8 !default;
$brown: #5A5655 !default;

$general: $brown;
$rails_at_scale: $blue;
$identity_permissions: $green;
$creative_communications: #ff8b4e;
$everything_activesupport: $red;
$soft_skills_are_hard: $purple;
$memorable_post_mortems: $gold;
$exported_expertise: #ff88ab;
$sponsored: #1395f9;
$unpacking-rails: #7fc303;
$weird-wild-wonderful: $gold;
$working-with-other-humans: #a8bdce;
