footer {
  color: white;
  .overlay {
    background-color: black;
    opacity: 0.9;
    padding: 20px 30px 35px;
  }
  .footer-header {
    .logo-container {
      display: flex;
      align-items: center;
      margin-bottom:  20px;
      .website-info {
        margin-left: 10px;
        a {
          text-decoration: none;
          font-weight: 700;
          font-size: 18px;
        }
      }
    }
  }

  .footer-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    border-bottom: 1px solid white;
    @media screen and (max-width: 900px) and (orientation: portrait),
      (max-width: 823px) and (orientation: landscape) {
      grid-template-columns: 1fr;
    }

    .footer-event-details {
      max-width: 470px;
      padding-bottom: 20px;
      .location-section {
        display: flex;
        div {
          flex-grow: 1
        }
        .location-details {
          padding-bottom: 20px;
          .date {
            font-weight: 700;
            font-size: 16px;
            padding-bottom: 5px;
          }
          .location {
            p {
              line-height: 10px;
            }
          }
        }
        .register-button {
          color: #E14943;
          background-color: white;
          padding: 10px 20px;
          border-radius: 4px;
          &:hover {
            transform: translateX(2px) translateY(-2px);
          }
        }
      }

      .footer-about {
        padding-bottom: 20px;
        p {
          font-weight: 400;
        }
        p:first-child {
          font-weight: 700;
        }
      }

      .footer-social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          width: 30px;
          height: 30px;
          display: inline-block;
          margin: 0 6px 0 0;
          &:hover {
            transform: translateX(2px);
          }
        }
        .twitter-link {
          background: asset-url('themes/default/twitter-icon.svg') center center no-repeat;
        }
        .facebook-link {
          background: asset-url('themes/default/fb-icon.svg') center center no-repeat;
        }
        .instagram-link {
          background: asset-url('themes/default/instagram-icon.svg') center center no-repeat;
        }
      }
    }

    .footer-event-links {
      display: flex;
      flex-wrap: wrap;
      .footer-category-links {
        flex-grow: 1;
        margin-right: 40px;
        margin-bottom: 40px;

        .footer-category-name {
          font-weight: 700;
        }

        a {
          display: inline-block;
          margin-right: 10px;
          text-decoration: none;
          padding-top: 20px;
          &:hover {
            transform: translateX(2px) translateY(-2px);
          }
        }
      }
    }
  }

  .footer-copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
}
