@import 'mixins';

.map-image {
  border: 5px solid $white;
}

#venue-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  h4 {
    @extend %mono;
    color: $red;
    font-weight: 700;
    padding: 0 0 5px 0;
  }
  a {
    color: $brown;
  }
  strong a {
    font-weight: 700;
    line-height: 20px;
  }
  .cta {
    padding: 0 10px;
    font-size: 14px;
    height: 50px;
    line-height: 47px;
  }
  address {
    padding: 0 0 10px 0;
    a {
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 4px 0;
      display: block;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
  #venue-hotel {
    display: block;
  }
}
