#main-header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--nav_background_color);
  color: var(--nav_text_color);

  #header-logo-container {
    display: flex;
    align-items: center;
    margin-left: 10px;

    .website-event-logo {
      display: block;
      height: 36px;
      width: 36px;
      margin-right: 5px;
      background: $grey-logo;
      border-radius: 3px;
    }
  }

  #main-nav {
    margin-right: 15px;
    display: flex;
    gap: 25px;

    a {
      display: block;
      color: var(--nav_text_color);
      &:hover {
        color: var(--nav_link_hover);
        transform: translateX(2px);
      }
    }
  }

  a {
    text-decoration: none;
    width: auto;
    &#menu-toggle {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    #main-header{
      z-index: 20;
      flex-direction: column;
      align-items: start;

      #header-logo-container {
        white-space: nowrap;
      }

      a {
        &#menu-toggle {
          display: block;
          width: 64px;
          height: 64px;
          position: absolute;
          right: 0;
          background: image-url('themes/default/menu.svg') center center no-repeat;
          transition: none;
          &.menu-toggle--opened {
            background: image-url('themes/default/menu-close.svg') center center no-repeat;
          }
        }
      }
    }
    #main-nav {
      margin-left: 10px;
      display: none!important;
      transition: transform .35s ease-in-out;
      a {
        padding: 0;
        height: 36px;
        line-height: 36px;
        display: block;
        text-indent: 8px;
      }
      &.menu-mobile--opened {
        display: block!important;
        transform: translate(0, 0)!important;
      }
    }
  }
