.page-title {
  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
}

.sub-nav {
  display: flex;
  align-items: center;
  margin: 0 0 10px 60px;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    li {
      margin: 0;
      padding: 0;
      a {
        font-size: 24px;
        font-weight: 700;
        display: block;
        color: $grey-light;
        width: 100%;
        margin: auto;
        text-align: center;
        text-decoration: none;
        &:hover, &.selected {
          color: $black;
          box-shadow: 0 7px var(--main_content_background),
                      0 10px $black;
          transition: all 300ms;
        }
      }
    }
  }
}

#sessions,
#workshops {
  display: flex;
  margin: auto;
  max-width: 1800px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  background-color: var(--main_content_background);
  margin-bottom: 40px;
}

.session {
  display: grid;
  width: 30%;
  grid-template-rows: 45px auto 100px 60px;
  grid-template-areas: "track"
                       "title"
                       "description"
                       "speakers";
  border-radius: 10px;
  border: 1px solid $grey-light;

  .track-name {
    grid-area: track;
    display: block;
    width: min-content;
    white-space: nowrap;
    margin: 15px 20px 5px 20px;
    border: 1px solid black;
    padding: 5px;
    background-color: $grey-lightest;
    font-size: 12px;
  }

  .session-title {
    grid-area: title;
    text-decoration: underline;
    font-size: 21px;
    margin: 0 20px 5px 20px;
  }

  .session_abstract {
    grid-area: description;
    margin: 0 20px 30px 20px;
    white-space: no-wrap;
    overflow: hidden;
  }

  .session-author-details {
    grid-area: speakers;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: $black;
    color: $white;
  }
}

@media screen and (max-width: 1200px) and (orientation: portrait),
  (max-width: 1123px) and (orientation: landscape) {
    #sessions {
      padding: 15px 5px;
    }
    .session {
      width: 40%;
    }
  }


@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    #sessions {
      padding: 25px 5px;
    }

    .session {
      width: 100%;
    }
  }
