.program-page-wrapper {
  h3.page-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 15px
  }

.bg-track-1 { background-color: $bg-track-1 ; }
.bg-track-2 { background-color: $bg-track-2 ; }
.bg-track-3 { background-color: $bg-track-3 ; }
.bg-track-4 { background-color: $bg-track-4 ; }
.bg-track-5 { background-color: $bg-track-5 ; }
.bg-track-6 { background-color: $bg-track-6 ; }
.bg-track-7 { background-color: $bg-track-7 ; }
.bg-track-8 { background-color: $bg-track-8 ; }
.bg-track-9 { background-color: $bg-track-9 ; }
.bg-track-10 { background-color: $bg-track-10 ; }
.bg-track-11 { background-color: $bg-track-11 ; }
.bg-track-12 { background-color: $bg-track-12 ; }
.default-accent { background-color: $grey-light; }
}

.program-filter-pane {
  img {
    margin: 0 auto 15px;
    display: block;
    padding: 6px 6px;
    border-radius: 50%;
    border: 2px solid $red-light;


    &.close-filter-icon {
      background-color: $red-light;
    }
  }
}

.sub-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 6px 60px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    li {
      margin: 0;
      padding: 0;
      a {
        font-size: 24px;
        font-weight: 700;
        display: block;
        color: $grey-light;
        width: 100%;
        margin: auto;
        text-align: center;
        text-decoration: none;
        &:hover, &.selected {
          color: $red-light;
          box-shadow: 0 4px var(--main_content_background),
                      0 7px $red-light;
          transition: all 300ms;
        }
      }
    }
  }
}

.program-sessions-wrapper {
  display: flex;
  margin: auto;
  max-width: 1600px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  background-color: var(--main_content_background);
  padding: 20px 0 0 0;
  margin-bottom: 40px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.session {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  padding: 1.875rem 1.25rem .625rem 1.25rem;
  border-radius: 10px;
  border: 1px solid $grey-light;
  box-shadow: 2px 4px 16px 4px rgba(0, 0, 0, 0.1);

  .seesion-title-abstract-container {
    height: 13.75rem;
  }
  .session-speaker-track-container {
    height: 5rem;
  }

  // UNDERLINE COLOR, FONT FAMILY
  .session-title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: .6rem;
    text-decoration: #F8B400 underline solid 2px;
    text-underline-offset: 0.1em;
  }

  .session-abstract {
    height: 6.25rem;
    font-size: 16px;
    font-weight: 400;
    color: $text-secondary;
    white-space: no-wrap;
    overflow: hidden;
  }

  .session-speaker-details {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .session-format-tag {
    padding: 8px 10px 8px 50px;
    border: 1px solid $divider-light;
    border-radius: 100px;
    font-size: 12px;
    margin-right: 8px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 26px;
      transform: translate(-50%, -50%);
      height: 12px;
      width: 24px;
      border-radius: 150px 150px 0 0;
    }
    &.session-format-tag-1::before { background-color: $session-format-tag-1;}
    &.session-format-tag-2::before { background-color: $session-format-tag-2;}
    &.session-format-tag-3::before { background-color: $session-format-tag-3;}
    &.session-format-tag-4::before { background-color: $session-format-tag-4;}
    &.session-format-tag-5::before { background-color: $session-format-tag-5;}
  }

  .track-tag {
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 20px;
    border: 1px solid $divider-light;

    .track-dot{
      height: 16px;
      width: 16px;
      display: inline-block;
      position: relative;
      top: 3px;
      border-radius: 50%;
      margin-right: 4px;
    }
  }

  .session-accent {
    width: 100%;
    height: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 100px 100px;
  }
}

@media screen and (max-width: 1200px) and (orientation: portrait),
  (max-width: 1123px) and (orientation: landscape) {
    .program-sessions-wrapper {
      padding: 15px 10px;
    }
    .session {
      width: 40%;
    }
  }


@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    .program-sessions-wrapper {
      padding: 25px;
    }

    .session {
      width: 100%;
    }
  }
