.schedule-page-wrapper {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 45px 1fr;
  grid-template-areas: ". sub-nav"
                       "schedule schedule";

  .sub-nav {
    grid-area: sub-nav;
    display: flex;
    align-items: center;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 30px;
      li {
        margin: 0;
        padding: 0;
        a {
          font-size: 24px;
          font-weight: 700;
          display: block;
          color: $grey-light;
          width: 100%;
          margin: auto;
          text-align: center;
          text-decoration: none;
          &:hover, &.selected {
            color: $black;
            box-shadow: 0 7px var(--main_content_background),
                        0 10px $black;
            transition: all 300ms;
          }
        }
      }
    }
  }
}

#schedule-container {
  grid-area: schedule;
}

.schedule-block-container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-areas: "time-duration program-sessions";
  gap: 10px;
  border-top: 1px solid $divider-light;

  &:last-child {
    border-bottom: 1px solid $divider-light;
    margin-bottom: 50px;
  }
  .schedule-duration {
    grid-area: time-duration;
    text-align: right;
    padding-top: 20px;
    width: 100%;

    .session-end-time::before {
      content: "-";
    }
  }

  .schedule-grid {
    display: grid;
    grid-area: program-sessions;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .schedule-grid-cell {
    border-right: 1px solid $divider-light;
    padding: 10px 15px;
    display: grid;
    align-items: center;
    gap: 5px;
    grid-template-rows: 30px auto 15px 30px;
    grid-template-areas: "track"
                         "title"
                         "room"
                         "speaker";
    &:only-child {
      border-right: none;
    }

    &:nth-child(4n+4) {
      border-right: none;
    }

    &:nth-child(n+5) {
      border-top: 1px solid $divider-light!important;
    }

    .session-track {
      grid-area: track;
      display: flex;
      justify-content: center;
      border-radius: 3px;
      align-items: center;
      font-size: 12px;
      background-color: $grey-lightest;
      padding: 5px 7px;
      width: fit-content;
    }

    .schedule-session-title {
      grid-area: title;
      font-size: 21px;
      font-weight: 500;
      text-decoration: underline;
    }

    .schedule-room {
      display: flex;
      align-items: center;
      grid-area: room;

      .room-icon {
        margin-right: 4px;
        display: inline-block;
        height: 15px;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        background-color: $grey-light;
      }
    }

    .schedule-presenter {
      font-size: 16px;
      font-weight: 500;
      grid-area: speaker;
    }
  }
}



@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {

    .schedule-page-wrapper {
      grid-template-columns: 1fr;
      grid-template-areas: "sub-nav"
                           "schedule";
      align-items: center;
      justify-content: center;
    }

    .sub-nav {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schedule-block-container {
      grid-template-rows: 30px 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "time-duration"
                           "program-sessions";
      border-top: none;

      .schedule-duration {
        grid-area: time-duration;
        text-align: left;

        .session-end-time::before {
          content: "-";
        }
      }

      .schedule-grid-cell {
        padding: 5px 5px;
        margin: 0 5px;
        width: auto;

        &:nth-child(n) {
          border: 1px solid $divider-light;
        }
      }

      .schedule-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px
      }
    }
  }
