.schedule-page-wrapper {
  .page-title {
    padding-top: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 15px;
  }

  .schedule-filter-pane {
    text-align: center;
    margin-bottom: 35px;
    img {
      margin: 0 auto 5px;
      display: block;
      padding: 6px 6px;
      border-radius: 50%;
      border: 2px solid var(--red-light);

      &.close-filter-icon {
        background-color: var(--red-light);
      }
    }
  }

  .sub-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--grey-light);

    ul {
      display: flex;
      gap: 40px;

      li {
        margin: 0;
        padding: 0;

        a {
          font-size: 28px;
          font-weight: 700;
          display: block;
          color: var(--grey-light);
          width: 100%;
          text-align: center;
          text-decoration: none;

          &:hover, &.selected {
            color: var(--red-light);
            box-shadow: 0 4px var(--main_content_background),
                        0 7px var(--red-light);
            transition: all 300ms;
          }
        }
      }
    }
  }

  .schedule-block-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "time-duration program-sessions";
    border-bottom: 2px solid var(--black);

    &:last-child {
      border-bottom: 1px solid var(--divider-light);
      margin-bottom: 50px;
    }

    .schedule-duration {
      grid-area: time-duration;
      border-right: 1px solid var(--grey-light);
      text-align: center;
      padding-top: 40px;
      font-weight: 700;
      font-size: 16px;

      .session-end-time::before {
        content: "-";
      }
    }

    .schedule-grid {
      display: flex;
      grid-area: program-sessions;
      flex-wrap: wrap;
    }

    .schedule-grid-cell {
      border-right: 1px solid var(--divider-light);
      border-bottom: 1px solid var(--divider-light);
      width: 25%;
      padding: 40px 25px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .schedule-title-room-wrapper {
        margin-bottom: 35px;
      }

      .schedule-speaker-tag-wrapper {
        margin-bottom: 30px;
      }

      &:only-child,
      &:last-child {
        border-right: none !important;
      }

      &:nth-child(4n+4) {
        border-right: none;
      }

      .schedule-session-title {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: .3rem;
        text-decoration: #F8B400 underline solid 2px;
        text-underline-offset: 0.1em;
      }

      .schedule-room {
        display: flex;
        align-items: center;

        .room-icon {
          margin-right: 7px;
        }
      }

      .schedule-presenter {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .schedule-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (orientation: portrait),
  (max-width: 1123px) and (orientation: landscape) {
    .schedule-page-wrapper {
      .schedule-grid-cell {
        width: 50% !important;

        &:nth-child(4n+4) {
          border-right: 1px solid var(--divider-light);
        }
        &:nth-child(2n+2) {
          border-right: none;
        }
      }

      .fly-out-wrapper {
        width: 70%;
        &.open { right: 0 }
        &.closed { right: -70%; }
      }
    }
  }


@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    .schedule-page-wrapper {

      .sub-nav {
        margin-bottom: 30px;
      }

      .schedule-block-container {
        display: block;

        border-top: 3px solid var(--black);

        .schedule-duration {
          float: right;
          position: relative;
          background-color: var(--body_background_color);
          top: -13px;
          white-space: nowrap;
          flex-direction: row;
          padding: 0 20px 0 15px;
        }
      }

      .schedule-grid {
        flex-direction: column;
        width: 100%
      }

      .schedule-grid-cell {
        border-right: none !important;
        border-bottom: 1px solid var(--divider-light);
        width: 100% !important;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
      }
    }
  }
