@import 'mixins';

#sponsors {
  /**border-bottom: 1px solid $divider;**/
  padding: 400px 0 0 0;
  margin: 0 0 -1px 0;

  strong {
    color: $darkest;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 100px 0;
  }

  .sponsors-tier {
    border-top: 1px solid $divider;
    margin-top: -1px;    
    background-color: $white;
    background-image: image-url('themes/default/bg-layer1.png'), image-url('themes/default/bg-layer2.png');
    background-position: 0 0, 0 0;
    background-size: 2192px 1460px, 1482px 2578px;
    background-repeat: repeat, repeat;

    header {
      border-bottom: 1px solid $divider;
      padding: 0 50px;
    }

    span {
      display: inline-block;
      font-size: 18px;
      margin: 20px 0;
      @extend %mono;
      font-weight: 700;
    }

    &.platinum {
      span {
        color: $brown;
      }
    }

    &.gold {
      span {
        color: $gold;
      }
    }

    &.silver {
      span {
        color: $red;
      }
    }

    &.bronze {
      span {
        color: $green;
      }
    }

    &.other {
      span {
        border-color: $darker;
      }

      h3 {
        color: $darkest;
        display: block;
        font-size: 14px;
        @extend %mono;
        font-weight: 700;
      }
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;

      div {
        border-bottom: 1px solid $divider;
        border-right: 1px solid $divider;
        padding: 25px 50px;
        position: relative;

        &:only-child {
          grid-column: 1;
          border-left: 1px solid $divider;
        }

        &:nth-of-type(1) {
          border-top: 0;
        }

        &:nth-of-type(2) {
          border-top: 0;
        }

        &:nth-of-type(3) {
          border-top: 0;
        }

        img {
          margin: 0 0 20px 0;
          max-height: 50px;
          max-width: 250px;
          mix-blend-mode: multiply;
        }

        p {
          font-size: 14px;
          line-height: 20px;
          text-align: left;
        }
      }
    }

    .sponsors-offer { 
      border: none;
      padding: 25px 0;

      a {
        color: $green;
        text-decoration: underline;
      }

      h4 a {
        color: $darkest;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

.sponsor__image-container {
  border: 0 !important;
}

#supporters {
  margin: 100px 0;
  text-align: center;

  li {
    background: none;
  }

  a {
    @extend %defaultlink;
  }
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
  #sponsors {
    margin: 100px 0;
    padding: 120px 0 0 0;
    border-bottom: none;
    text-align: center;
    strong {
      font-size: 18px;
      margin: 0 0 50px;
    }

    .sponsors-tier {
      & > div {
        grid-template-columns: 1fr;

        div {
          padding: 25px;
          border: 0;
          border-bottom: 1px solid $divider;
          &:only-child {
            grid-column: 1;
            border-left: none;
          }

          img {
            max-height: 40px;
          }
        }
      }
    }
  }
}
