.dot2 {
  .goodies-header {
    width: 650px;
    margin: 0 auto;
    height: 150px;
    display: grid;
    place-items: center;
  }
}

.goodies {
  width: 1000px;
  margin: 50px auto 0;
  .goodies-top {
    width: 650px;
    margin: 0 auto;
  }
  h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 10px 0;
    color: #EA4444;
    line-height: 36px;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      background: #fff;
      box-shadow: 0 1px 3px #EFE9DC;
      border-radius: 10px;
      border-top: 10px solid #3E8EC8;
      margin: 0 0 25px 0;
      padding: 25px;
      width: 475px;
      position: relative;
      &:nth-of-type(odd) {
        margin-right: 25px;
      }
      img  {
        max-width: 250px;
        max-height: 40px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        margin: 15px 0 0 0;
      }
      h4 {
        font-size: 20px;
        padding: 10px 0 0 0;
        a {
          display: block;
          font-weight: 600;
        }
      }
      .goodies-btn {
        border-radius: 25px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        text-decoration: none;
        padding: 0 25px;
        font-weight: 600;
        margin: 15px 0 0 0;
        background: #3E8EC8;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    .dot2 {
      .goodies-header {
        width: auto;
        height: auto;
        display: block;
        margin: -25px 0 0 0;
        h2 {
          display: none;
        }
      }
      h1 {
        margin: 25px auto;
        a {
          width: 250px;
          height: 69px;
          background-size: 250px 69px;
        }
      }
      .goodies {
        margin: 25px 0 0 0;
        width: auto;
        .goodies-top {
          width: auto;
        }
        p {
          line-height: 22px;
        }
        ul {
          li {
            padding: 20px;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
