body.dot2 {
  padding: 50px 0;
  background: #FEFCF8;
  color: #1A2C3D;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  font-family: 'Barlow', sans-serif;
  header {
    display: none;
  }
  section {
    margin: 0 0 100px 0;
  }
  a {
    color: #3E8EC8;
    text-decoration: underline;
    transition: all .25s ease-in-out;
    &:hover {
      color: #E25858;
    }
  }
  .big_news {
    padding: 50px 0 100px 150px;
    width: 700px;
    margin: 0 0 0 -75px;
    background: image-url("/themes/default/RailsConf2020-mini-logo.svg") 0 50px no-repeat;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    h3 {
      font-size: 40px;
      font-weight: 700;
      margin: 40px 0 0 0;
    }
    span {
      color: #EA4444;
      @extend %mono;
      font-size: 16px;
      font-weight: 600;
    }
    h4 {
      color: #3E8EC8;
      font-size: 24px;
      font-weight: 700;
      padding: 25px 0 0 0;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      margin: 0 0 20px 0;
    }
  }
  footer {
    display: none
  }
  .content {
    width: 650px;
    margin: 0 auto;
  }
  p {
    line-height: 30px;
    margin-bottom: 40px;
  }
  h2 {
    text-align: center;
    color: #EA4444;
    padding: 0 0 50px 0;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
  }
  .header {
    text-align: center;
    margin: 100px 0;
    position: relative;
    h1 {
      padding: 50px 0 0 0;
      margin: 0;
      font-size: 48px;
      font-weight: 600;
      em {
        color: #EA4444;
        font-style: normal
      }
      span {
        display: block;
        color: #859DB4;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 900;
        padding: 10px 0 0 0;
      }
    }
  }
  .alert {
    display: block;
    padding: 15px 15px 15px 40px;
    font-size: 14px;
    border-radius: 5px;
    line-height: 20px;
    background: #F3EFE5 image-url('themes/default/alert-icon.svg') 20px 18px no-repeat;
  }
  .keynotes {
    ul {
      margin: 0;
      padding: 0;
      li {
        background: #fff;
        box-shadow: 0 1px 3px #EFE9DC;
        border-radius: 10px;
        border-top: 10px solid #fff;
        margin: 0 0 50px 0;
        padding: 50px 50px 50px 100px;
        position: relative;
        .keynoter-image {
          position: absolute;
          width: 150px;
          height: 150px;
          border-radius: 75px;
          background-color: #fff;
          top: 25px;
          left: -65px;
        }
        p {
          font-size: 16px;
          line-height: 26px;
          margin: 15px 0 0 0;
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          padding: 0;
          margin: 0;
          position: relative;
          width: 100%;
          a {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 18px;
            font-weight: 500;
            display: block;
          }
        }
        .button {
          border-radius: 25px;
          height: 50px;
          line-height: 50px;
          background-image: image-url('themes/default/keynote-button-icon.svg');
          background-position: 15px center;
          background-repeat: no-repeat;
          display: inline-block;
          text-decoration: none;
          padding: 0 25px 0 45px;
          font-weight: 600;
          margin: 15px 0 0 0;
        }
        &:first-child {
          border-color: #EA4444;
          .keynoter-image {
            background-image: image-url('themes/default/dhh.png');
            background-size: 130px auto;
            background-position: center center;
          }
          a,
          h3 {
            color: #EA4444;
          }
          .button {
            background-color: #EA4444;
            color: #fff;
          }
        }
        &:nth-of-type(2) {
          border-color: #3E8EC8;
          .keynoter-image {
            background-image: image-url('themes/default/eileen.png');
            background-size: 150px auto;
            background-position: center -10px;
          }
          a,
          h3 {
            color: #3E8EC8;
          }
          .button {
            background-color: #3E8EC8;
            color: #fff;
          }
        }
        &:last-child {
          border-color: #64B557;
          margin: 0;
          .keynoter-image {
            background-image: image-url('themes/default/aaron.png');
            background-size: 150px auto;
            background-position: center 0;
          }
          a,
          h3 {
            color: #64B557;
          }
          .button {
            background-color: #64B557;
            color: #fff;
          }
        }
      }
    }
  }
  .talks {
    width: 1000px;
    margin: 0 auto;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        margin: 0;
        text-align: center;
        a {
          display: block;
          padding: 20px;
          background: #F3EFE5;
          border-radius: 10px;
          text-decoration: none;
          height: 100%;
          &:hover {
            box-shadow: 0 0 0 3px #3E8EC8;
            color: #3E8EC8;
          }
        }
        img {
          width: 100%;
          border-radius: 10px;
          margin: 0 0 10px 0;
        }
        h4 {
          display: block;
          font-weight: 600;
        }
        h5 {
          font-size: 16px;
          color: #EA4444;
        }
      }
    }
  }
  .sponsors {
    background: #fff;
    margin: 100px 0 0 0;
    border-top: 1px solid #F3EFE5;
    border-bottom: 1px solid #F3EFE5;
    padding: 50px 0 0 0;
    h2 {
      border-bottom: 1px solid #F3EFE5;
    }
    ul {
      width: 1000px;
      margin: 0 auto -1px;
      border-left: 1px solid #F3EFE5;
      border-right: 1px solid #F3EFE5;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      li {
        background: #fff;
        padding: 0 25px;
        position: relative;
        height: 100px;
        border-right: 1px solid #F3EFE5;
        border-bottom: 1px solid #F3EFE5;
        img {
          max-width: 200px;
          max-height: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
  }
  .by {
    padding: 100px 0;
    text-align: center;
    span {
      font-weight: 700;
      padding: 0 0 0 20px;
      font-size: 16px;
      background: image-url('themes/default/c.svg') 0 center no-repeat;
      a {
        color: #EA4444;
        text-decoration: none;
      }
    }
  }
  .offers-banner {
    width: 650px;
    margin: 100px auto 0;
    background: #fff image-url('themes/default/offers.svg') calc(100% - 50px) 50px no-repeat;
    box-shadow: 0 1px 3px #EFE9DC;
    border-radius: 10px;
    padding: 50px 150px 50px 50px;
    border-top: 10px solid #859DB4;
    h3 {
      color: #1A2C3D;
      font-size: 24px;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }
    p {
      margin: 0;
    }
    .button {
      border-radius: 25px;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      text-decoration: none;
      padding: 0 25px;
      font-weight: 600;
      color: #fff;
      background: #859DB4;
      margin: 15px 0 0 0;
    }
  }
}




@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    body.dot2 {
      padding: 25px 20px;
      font-size: 16px;
      line-height: 24px;
      h2 {
        padding: 0 0 25px 0;
        font-size: 24px;
      }
      .big_news {
        width: auto;
        position: relative;
        left: 0;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        padding: 180px 0 0 0;
        background-position: 0 0;
        margin: 0;
        h3 {
          font-size: 28px;
          margin: 0 0 10px 0;
        }
        span {
          font-size: 16px;
        }
        h4 {
          font-size: 20px;
        }
      }
      .content {
        width: auto;
      }
      .header {
        margin: 50px 0;
        h1 {
          padding: 50px 0 0 0;
          font-size: 36px;
          span {
            font-size: 24px;
            letter-spacing: 3px;
            padding: 10px 0 0 0;
          }
        }
      }
      .keynotes {
        ul {
          li {
            margin: 0 0 25px 0;
            padding: 20px;
            .keynoter-image {
              position: relative;
              width: 100px;
              height: 100px;
              margin: 0 0 15px 0;
              border-radius: 75px;
              top: 0;
              left: 0;
            }
            h3 {
              a {
                position: relative;
              }
            }
            &:first-child {
              .keynoter-image {
                background-size: 90px auto;
              }
            }
            &:nth-of-type(2) {
              .keynoter-image {
                background-size: 100px auto;
              }
            }
            &:last-child {
              .keynoter-image {
                background-size: 100px auto;
              }
            }
          }
        }
      }
      .sponsors {
        margin: 50px -25px 0 -25px;
        padding: 25px 0 0 0;

        ul {
          width: auto;
          margin: 0 auto -1px;
          border: 0;
          display: block;
          li {
            border-right: 0;
          }
        }
      }
      .talks {
        width: auto;
        ul {
          display: block;
          li {
            text-align: left;
            margin: 0 0 10px 0;
            a {
              padding: 10px 50px 10px 20px;
              border-radius: 5px;
              background: #F3EFE5 image-url('themes/default/speaker-talk-icon.svg') calc(100% - 20px) center no-repeat;
            }
            img {
              display: none;
            }
            h4 {
              font-size: 20px;
              text-decoration: underline;
            }
          }
        }
      }
      .offers-banner {
        width: auto;
        margin: 50px auto 0;
        background: #fff;
        background-image: none;
        box-shadow: 0 1px 3px #EFE9DC;
        border-radius: 10px;
        padding: 25px;
        border-top: 10px solid #859DB4;
        h3 {
          color: #1A2C3D;
          font-size: 24px;
          font-weight: 700;
          padding: 0;
          margin: 0;
        }
        p {
          margin: 15px 0 0 0;
          font-size: 16px;
          line-height: 26px;
        }
        .button {
          border-radius: 25px;
          height: 50px;
          line-height: 50px;
          display: inline-block;
          text-decoration: none;
          padding: 0 25px;
          font-weight: 600;
          color: #fff;
          background: #859DB4;
          margin: 15px 0 0 0;
        }
      }
    }
  }

.couch-mask {
  width: 70px;
  height: 50px;
  position: absolute;
  left: calc(50% - 85px);
  top: 101px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.popcorn {
  width: 36px;
  height: 50px;
  background: image-url('themes/default/popcorn.svg') 0 0 no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  animation: popcorn .5s ease-in;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  transform: translate(0,55px) rotate(0);
}

.laptop {
  width: 38px;
  height: 31px;
  background: image-url('themes/default/laptop.svg') 0 0 no-repeat;
  position: absolute;
  top: 19px;
  left: 9px;
  transform: translate(10px,32px) rotate(90deg);
  animation: laptop .45s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.couch {
  background: image-url('themes/default/couch.svg') 0 0 no-repeat;
  width: 269px;
  height: 114px;
  position: absolute;
  left: 50%;
  top: 93px;
  transform: translateX(-50%);
}

.planet {
  clip-path: circle(100px at center);
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}

.planet-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: image-url('themes/default/planet-top.svg');
}

.planet-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: image-url('themes/default/rotate.svg') 0 0 repeat-x;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 400px 0;}
}

@keyframes laptop {
  0% {
    transform: translate(10px,32px) rotate(90deg);
  }
  50% {
    transform: translate(0,0) rotate(0deg);
  }
  75% {
    transform: translate(2px,4px) rotate(5deg);
  }
  100% {
    transform: translate(0,0) rotate(0deg);
  }
}

@keyframes popcorn {
  0% {
    transform: translate(0,55px) rotate(0);
  }
  50% {
    transform: translate(0,0) rotate(0deg);
  }
  75% {
    transform: translate(0,4px) rotate(5deg);
  }
  100% {
    transform: translate(0,0) rotate(0deg);
  }
}

