@import 'colors';

#banger-ads {
  padding: 0;
  box-sizing: content-box;
  position: relative;
  padding-bottom: 12.36%;
}

.banger-ads-item {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
  width: 100%;
  opacity: 0;
  transition: all 200ms ease-in-out;
  img {
    width: 100%;
    border-radius: 3px;
  }
}

.banger-ads-item.active {
  opacity: 1;
  z-index: 100;
}

@media screen and (max-width: 900px) and (orientation : portrait), (max-width: 823px) and (orientation : landscape) {
  #banger-ads {
    margin: 20px -20px -20px;
  }
  .banger-ads-item {
    img {
      border-radius: 0 0 10px 10px;
    }
  }
}
