@import 'mixins';

#footer {
  z-index: 8;
  position: relative;
  margin: 0 0 0 -265px;
  padding: 150px 0 460px 0;
  background-color: $white;
  background-image: image-url('themes/railsconf22/bg-layer1.png'), image-url('themes/railsconf22/bg-layer2.png'), image-url('themes/railsconf22/RailsConf2022-logo.svg'), image-url('themes/railsconf22/footer-bg.png');
  background-position: 0 0, 0 0, center center, 0 bottom;
  background-size: 2192px 1460px, 1482px 2578px, 190px auto, 100% auto;
  background-repeat: repeat, repeat, no-repeat, no-repeat;
}

.footer-content {
  width: 600px;
  padding: 20px 300px 0 0;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  color: $brown;
  strong {
    color: $gold;
    font-size: 22px;
    font-weight: 800;
    display: block;
    letter-spacing: -0.025em;
  }
  small {

  }
  li {
    margin: 0 0 20px 0;
    padding: 0 0 0 22px;
  }
  .footer-location{
    background: image-url('themes/railsconf22/gem-icon.svg') 0 5px no-repeat;
  }
  .footer-venue {
    background: image-url('themes/railsconf22/pin-icon.svg') 2px 5px no-repeat;
    a {
      color: $brown;
      text-decoration: none;
    }
    address a {
      color: $red;
      font-weight: 500;
      display: block;
      text-decoration: underline;
      margin: -3px 0 0 0;
    }
  }
  .footer-copyright {
    background: image-url('themes/railsconf22/copyright-icon.svg') 0 5px no-repeat;
    color: $brown;
    a {
      color: $green;
      text-decoration: underline;
    }
  }
}

#bottom-stripe {
  position: relative;
  z-index: 8;
  margin: 0 0 0 -265px;
  height: 300px;
  width: calc(100% + 265px);
  background-color: $white;
  background-image: 
    image-url('themes/railsconf22/bg-layer1.png'), 
    image-url('themes/railsconf22/bg-layer2.png'),
    image-url('themes/railsconf22/stripe.svg');
  background-position: 
    0 0, 
    0 0, 
    0 bottom;
  background-size: 
    2192px 1460px, 
    1482px 2578px,
    10px 300px;
  background-repeat: 
    repeat, 
    repeat,
    repeat-x;
}

#sponsors-footer {
  margin: 0 0 0 -265px;
  padding: 100px 0 0 0;
  text-align: center;
  z-index: 11;
  position: relative;
  background: $white image-url('themes/railsconf22/topo.png') 0 0 repeat;
  background-size: 1041px 1032px;
  border-bottom: 5px solid $brown;
  .sponsors-temp {
    display: block;
    padding: 0 0 100px 0;
  }
  strong {
    color: $brown;
    display: block;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 20px;
  }
  img {
    mix-blend-mode: multiply;
  }
  .sponsors-tier {

    border-top: 1px solid $dividerlight;
    margin-top: -1px;

    header {
      border-bottom: 1px solid $dividerlight;
    }

    span {
      border-bottom: 2px solid $white;
      display: inline-block;
      font-size: 18px;
      margin: 20px 0;
    }

    &.platinum {
      span {
        border-color: $platinum;
      }
    }

    &.gold {
      span {
        border-color: $gold;
      }
    }

    &.silver {
      span {
        border-color: $silver;
      }
    }

    &.bronze {
      border-bottom: 1px solid $dividerlight;
      span {
        border-color: $bronze;
      }
    }

    & > div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));

      div {
        
        border-bottom: 1px solid $dividerlight;
        border-right: 1px solid $dividerlight;
        height: 100px;
        position: relative;

        &:only-child {
          border-left: 1px solid $dividerlight;
          grid-column: 2;
        }

        &:nth-of-type(1) {
          border-top: 0;
        }

        &:nth-of-type(2) {
          border-top: 0;
        }

        &:nth-of-type(3) {
          border-top: 0;
        }

        img {
          max-width: 70%;
          max-height: 50px;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
  #footer {
    margin: 0;
    padding: 50px 0 450px 0;
    background-position: 0 0, 0 0, center center, 0 bottom;
  }
  .footer-content {
    width: 270px;
    padding: 0;
    margin: 0 auto;
    li:last-child {
      padding: 0;
      margin: 30px 0 0 0;
      text-align: center;
      a.cta {

      }
    }
  }
  #bottom-stripe {

    margin: 0;
    height: 150px;
    width: 100%;
    background-image: 
      image-url('themes/railsconf22/bg-layer1.png'), 
      image-url('themes/railsconf22/bg-layer2.png'),
      image-url('themes/railsconf22/stripe-mobile.svg');
    background-position: 
      0 0, 
      0 0, 
      0 bottom;
    background-size: 
      2192px 1460px, 
      1482px 2578px,
      10px 150px;
    background-repeat: 
      repeat, 
      repeat,
      repeat-x;
  }
  #sponsors-footer {
    margin: 0;
    padding: 50px 0 25px 0;
    strong {
      font-size: 30px;
      line-height: 42px;
      margin: 0 20px 10px 20px;
      }
    .sponsors-temp {
      padding: 0 0 50px 0;
    }

    .sponsors-tier {
      & > div {
        grid-template-columns: 1fr;

        div {
          height: 80px;

          &:only-child {
            border-left: none;
            grid-column: 1;
          }

          img {
            max-height: 40px;
          }
        }
      }
    }
  }
}
