@import 'colors';

%defaultlink {
  text-decoration: underline;
  color: $green;
}


%shadowbox {
  box-shadow: 0 17px 24px rgba(52,44,34,.12);
  border-radius: 5px;
  background: $white image-url('themes/railsconf22/topo.png');
  background-size: 1041px 1032px;
  outline: 3px solid rgba(76,44,23,.1);
  outline-offset: -10px;
  padding: 25px 28px;
}

%shadowboxclean {
  box-shadow: 0 17px 24px rgba(52,44,34,.12);
  border-radius: 5px;
  background: $white;
  outline: 3px solid rgba(76,44,23,.1);
  outline-offset: -10px;
  padding: 25px 28px;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

%mono {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0 !important; 
}

%bodymargin {
  margin: 0 50px;
}

%iconbox {
  background-position: 50px 50px;
  background-repeat: no-repeat;
  border: 1px solid $divider;
  border-radius: 5px;
  padding: 50px 50px 50px 155px;

  h3 {
    padding: 0 0 10px 0;
  }
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
  %bodymargin {
    margin: 0 25px;
  }

  %iconbox {
    background-position: calc(100% - 25px) 25px;
    padding: 120px 25px 25px;
    position: relative;

    h3 {
      left: 25px;
      padding: 0;
      position: absolute;
      top: 50px;
    }
  }
}
