@import 'mixins';

.plyr video {
  max-height: calc(100vh - 80px) !important;
}

#playlists-hero {
  width: 1050px;
  margin: 0 auto;
  padding: 100px 0 50px;
  text-align: center;
  #live-player {
    width: 1050px;
    height: 591px;
    background: $ghost-grey;
    border-radius: 5px;
  }
  #next-up {
    border-radius: 5px;
    background: $ghost-grey;
    padding: 10px;
    strong { 
      display: block;
      padding: 0 0 3px 0;
    }
    span {
      font-weight: 600;
    }
  }

  #video {
    padding: 5px 0 5px;
  }
}

#playlists {
  width: 1050px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin: 0 0 50px 0;
  }

  p {
    text-align: center;
  }
}

.playlists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  width: 1050px;
  margin-bottom: 2em;
}

.playlist-desc {
  padding: 25px;
  h3 {
    position: relative;
    padding: 0 35px 7px 0;
    margin: 0;
    a {
      color: $red;
      font-size: 24px;
      display: block;
      &:hover {
        color: $blue;
      }
      &.playlist-play-btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1px 7px 1px 4px;
        border-radius: 3px;
        background: $white;
        border: 1px solid $light-grey;
        transition: .25s all ease-in-out;
      }
    }
    &:hover {
      .playlist-play-btn {
        border-color: $blue;
      }
    }
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
  p:last-child {
    margin: 0;
  }
}

.playlist-videos {
  padding: 0 !important;
  li {
    background: none;
    margin: 0;
    border-top: 1px solid $ghost-grey;
    font-weight: 600;
    padding: 0;
    a {
      display: grid;
      padding: 10px;
      grid-template-columns: 1fr 3fr;
      gap: 10px;
      h5 {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 -5px 0;
      }
      small {
        font-size: 12px;
        color: $text;
      }
      img {
        max-width: 100%;
        border-radius: 2px;
      }
    }
  }
}

.playlist {
  border-radius: 5px;
  @extend %shadowbox;
  h4 {
    padding: 25px;
    font-size: 18px;
    margin: 0;
  }
}

#video {
  padding: 80px 0 50px;
}

#video-body {
  width: 1050px;
  margin: 0 auto 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  .video-desc {
    h3 {
      color: $red;
      font-weight: 800;
    }
  }
}

#mux-plug {
  display: block;
  color: $grey;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  height: 24px;
  line-height: 24px;
  margin: 0 0 25px 0;
  background: image-url('themes/railsconf22/mux-small.png') right center no-repeat;
  background-size: auto 24px;
  &:hover {
    color: $text;
  }
}

.video-author-details {
  border-top: 1px solid $ghost-grey;
  padding: 25px 0 0 0;
  margin: 20px 0 0 0;
  h4 {
    font-size: 18px;
    font-weight: 800;
    height: 40px;
    line-height: 40px;
  }
  .video-copy-link {
    padding: 0 0 10px 0;
    input {
      position: absolute;
      left: -9999px;
    }
    a {
      background: $blue image-url('themes/railsconf22/copy.svg') 5px 7px no-repeat;;
      color: $white;
      font-weight: 600;
      display: inline-block;
      padding: 0 5px 0 20px;
      border-radius: 3px;
      cursor: pointer;
      transition: .25s all ease-in-out;
      &:hover {
        color: $white;
        background: $red image-url('themes/railsconf22/copy.svg') 5px 7px no-repeat;;
      }
    }
  }
  .video-author-details-top {
    display: grid;
    padding: 0 0 10px 0;
    grid-template-columns: 1fr 170px;
    h4 {
      order: 1;
    }
    a {
      order: 2;
    }
  }
  footer {
    padding: 15px 10px 13px 10px;
    background: $ghost-grey;
    border-radius: 5px;
    min-height: 21px;
    line-height: 21px;
    font-weight: 600;
    span {
      font-size: 18px;
    }
    a {
      display: block;
      padding: 0 0 0 25px;
      min-height: 21px;
      background: image-url('themes/railsconf22/discord.svg') 0 0 no-repeat;
      background-size: auto 20px;
      color: #5C6BC0;
      &:hover {
        color: #5C6BC0;
      }
    }
  }
}

.debug-info {
  margin: 20px 0 50px 0;
  background: $dark-grey;
  border-radius: 3px;
  padding: 20px;
  font-size: 12px;
  font-family: monospace;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,.1);
  h5 {
    color: $light-grey;
  }
  li {
    color: $grey;
    background: none;
    padding: 5px 0;
    font-weight: 600;
  }
}

.watch-party-btn {
  width: auto;
  color: $white;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(#141E40,.15);
  background: linear-gradient(180deg, #2178DE 0%, #226ABE 100%);
  font-size: 16px;
  &:hover {
    color: $white;
  }
}

@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    #playlists-hero {
      width: auto;
      padding: 100px 0 25px;
      margin: 0 5px;
    }
    #playlists {
      width: auto;
      h2 {
        margin-bottom: 25px;
        font-size: 24px;
      }
    }
    .playlist-desc {
      padding: 20px 10px;
    }
    #live-player {
      width: auto;
      height: auto;
    }
    .playlists {
      display: block;
      width: auto;
    }
    .playlist {
      margin: 0 5px 25px 5px;
    }#video {
      padding: 77px 0 25px;
    }
    #video-body {
      width: auto;
      margin: 0 10px;
      display: block;
    }
    aside .playlist {
      margin: 0;
    }
    .video-author-details { 
      padding-top: 10px;
      .video-author-details-top {
        display: block;
        padding: 0;
        h4 {
          width: auto;
          padding-top: 10px;
          margin-top: 10px;
          border-top: 1px solid $divider;
          height: auto;
          line-height: 100%;
        }
      }
      footer {
        margin: 0 0 25px 0;
        a {
          float: none;
        }
      }
    }
}





