@import 'mixins';

#scholarships-image {
  width: 100%;
  height: auto;
  padding: 50px 100px 0;
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 17px 24px rgba(52,44,34,.12);
  }
}

#content blockquote {
  @extend %shadowboxclean;
  margin: 0 0 25px 0;
  footer {
    display: block;
    height: 48px;
    line-height: 48px;
    position: relative;
    margin: -10px 0 -7px;
    img {
      position: absolute;
      left: -55px;
      top: 0;
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }
    strong {
      color: $red;
      @extend %mono;
      font-weight: 700;
      padding: 5px 0 0 0;
      margin: 0 0 -15px 0;
    }
    em {
      font-style: italic;
    }
  }
}

#eventbrite-widget-container-92267804487 {
  margin: 0 100px;
  height: 800px !important;
}

.deadline {
  border-left: 3px solid $red;
  padding: 0 0 0 10px;
  margin: 0 0 25px 0;
  strong {
    font-weight: 700;
    font-size: 14px !important;
    small {
      font-size: 12px;
      font-weight: 500;
    }
  }
  em {
    font-weight: 16px;
    display: block;
    color: $red;
    @extend %mono;
    font-weight: 700;
    margin: -5px 0 0 0;
  }
}


@media screen and (max-width: 900px) and (orientation: portrait),
  (max-width: 823px) and (orientation: landscape) {
    #content {
      blockquote {
        footer {
          margin: 48px 0 0 0;
          img {
            left: 0;
            top: -48px;
          }
          strong {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .deadline {
      strong small {
        display: block;
        margin: -2px 0 2px 0;
      }
    }
    .small-type .cta {
      margin: 0 0 25px 0;
    }
    #scholarships-image {
      width: auto;
      padding: 25px 15px 0;
    }
    .eventbrite {
      margin: -50px 15px 0;
      width: auto;
    }
    #eventbrite-widget-container-92267804487 {
      margin: 0;
      height: 1200px !important;
    }
}
