$('#event-teammate-change-role-<%= event_teammate.id %>').modal('hide')

$('tr#teammate-<%= event_teammate.id %> td.notifications span').replaceWith("<span><%= event_teammate.comment_notifications %></span>")
