%fieldset
  %legend.fieldset-legend Speaker Information
  = f.simple_fields_for :speakers, f.object.speakers do |speaker_fields|
    - speaker = speaker_fields.object.decorate

    %p This information is <strong>not visible</strong> during the review process. Name and bio will be used publicly in the program if this proposal is selected.

    = speaker_fields.input :name, disabled: true, tooltip: ["right", "Edit your profile to update"]

    = speaker_fields.input :bio, disabled: speaker.user!=current_user, maxlength: :lookup, input_html: { value: speaker.bio, rows: 4 }, hint: "Your bio should be short, no longer than 500 characters. It's related to why you're speaking about this topic."#, popover_icon: { content: bio_tooltip }
