.speaker.clearfix
  %strong= speaker.name

  - if withdraw && speaker.proposal.speakers.size > 1 && !speaker.proposal.finalized?
    %p= link_to "Withdraw",
        speaker_path(speaker.id),
        class: "btn btn-danger btn-sm float-end remove-speaker",
        data: {turbo: true, turbo_method: :delete, turbo_confirm: "This will remove #{speaker.name} from this proposal. Are you sure you want to do this?"}

  = simple_format speaker.bio
%hr
