.speaker.clearfix
  %strong= speaker.name

  - if withdraw && speaker.proposal.speakers.count > 1 && !speaker.proposal.finalized?
    %p= link_to "Withdraw",
        speaker_path(speaker.id),
        method: :delete,
        class: "btn btn-danger btn-sm pull-right remove-speaker",
        data: { confirm: "This will remove #{speaker.name} from this proposal. Are you sure you want to do this?" }

  = simple_format speaker.bio
%hr
